{% extends 'backend_layout.html.twig' %}

{% block title %}{{ annonceAppartement.annoncebien.titre }}{% endblock %}

{% block body %}
	<div class="main-content">
		<div class="page-title">
			<h4 class="mb-0">
				Gestion des biens
				<small> </small>
			</h4>
			<ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
				<li class="breadcrumb-item"><a href="{{ path('homepage') }}" class="default-color">Accueil</a></li>
				<li class="breadcrumb-item"> Bien</li>
				<li class="breadcrumb-item active"> {{ annonceAppartement.annoncebien.typebien.libelle }}</li>
			</ol>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-right">
					<a href="{{ path('backend_annoncebien_index') }}" class="btn  btn-light"><i class="fa fa-list"></i> Liste des biens</a>
				</div>
				<br>
				<div class="col-md-12">
					<div class="card card-shadow mb-4">
						<div class="card-header">
							<div class="card-title">
								{{ annonceAppartement.annoncebien.titre }}
							</div>
						</div>
						<div class="card-body">
							<div class="form-group row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
											{% if (annonceAppartement.annoncebien.imageName) %}
												<img src="{{ vich_uploader_asset(annonceAppartement.annoncebien, 'imageFile') }}" alt="{{ annonceAppartement.annoncebien.titre }}" title="{{ annonceAppartement.annoncebien.titre }}"  class="card-img-top img-fluid"/>
											{% else %}
												<img src="{{ asset('frontend/images/icon-ai.png')}}" class="card-img-top img-fluid">
											{% endif %}
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12" style="margin-top: 15px">
											{{ annonceAppartement.annoncebien.description|raw }}
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12" style="margin-top: 15px">
											<u>Partenaire</u> : <strong>{{ annonceAppartement.annoncebien.utilisateur.nom }}</strong>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6">
											<label class="control-label" for="rubrique">Type du bien</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.annoncebien.typebien.libelle }}" readonly>
											</div>
										</div>
										<div class="col-sm-6" style="">
											<label class="control-label" for="rubrique">Titre du bien</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.annoncebien.titre }}" readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Zone</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.annoncebien.zone }}" readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Localisation</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.annoncebien.localisation }}" readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Prix</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.annoncebien.prix|number_format(0, '', '.') }} " readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Mode</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.annoncebien.mode }} " readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Superficie</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.superficie }} m2" readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Nombre de pièces</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.piece }}" readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Nombre de salles d'eau</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.wc }}" readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Nombre de douches</label>
											<div class="elect2-container">
												<input type="text" class="form-control" value="{{ annonceAppartement.douche }}" readonly>
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Dressing</label>
											<div class="elect2-container">
												{% if (annonceAppartement.dressing) %}
													<input type="text" class="form-control" value="OUI" readonly>
												{% else %}
													<input type="text" class="form-control" value="NON" readonly>
												{% endif %}
											</div>
										</div>
										<div class="col-sm-6" style="margin-top:10px;">
											<label class="control-label" for="rubrique">Balcon</label>
											<div class="elect2-container">
												{% if (annonceAppartement.balcon) %}
													<input type="text" class="form-control" value="OUI" readonly>
												{% else %}
													<input type="text" class="form-control" value="NON" readonly>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Cuisine</label>
									<div class="elect2-container">
										<input type="text" class="form-control" value="{{ annonceAppartement.cuisine }} m2" readonly>
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Etage</label>
									<div class="elect2-container">
										{% if (annonceAppartement.etage) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">N° Etage</label>
									<div class="elect2-container">
										<input type="text" class="form-control" value="{{ annonceAppartement.netage }}" readonly>
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Parking</label>
									<div class="elect2-container">
										{% if (annonceAppartement.parking) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Chauffe eau</label>
									<div class="elect2-container">
										{% if (annonceAppartement.chauffeau) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Vidéo surveillance</label>
									<div class="elect2-container">
										{% if (annonceAppartement.videosurveillance) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Alarme</label>
									<div class="elect2-container">
										{% if (annonceAppartement.alarme) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Ascenceur</label>
									<div class="elect2-container">
										{% if (annonceAppartement.ascenceur) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Buanderie</label>
									<div class="elect2-container">
										{% if (annonceAppartement.buanderie) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Interphone</label>
									<div class="elect2-container">
										{% if (annonceAppartement.interphone) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
								<div class="col-sm-3" style="margin-top:10px;">
									<label class="control-label" for="rubrique">Meubles</label>
									<div class="elect2-container">
										{% if (annonceAppartement.meuble) %}
											<input type="text" class="form-control" value="OUI" readonly>
										{% else %}
											<input type="text" class="form-control" value="NON" readonly>
										{% endif %}
									</div>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-7 ml-auto text-right">
									<a class="btn btn-outline-dark" href="{{ path('backend_annoncebien_edit', {'slug': annonceAppartement.annoncebien.slug}) }}" >Modifier</a>

								</div>
								<div class="col-sm-3 text-left">
									<form action="{{ absolute_url(path('backend_annonce_delete')) }}" method="post" onsubmit="return confirm('Voulez-vous supprimer cette annonce?')">
										<input type="hidden" name="bien" value="{{ annonceAppartement.annoncebien.id }}">
										<input type="hidden" name="crsf_annonce" value="AlloImmoHabitat!2019">
										<input type="submit" value="Supprimer" class="btn btn-danger">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
