{% extends 'backend_layout.html.twig' %}

{% block title %}Liste des annonces utilisateurs{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Gestion des annonces utilisateurs
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">liste des annonces utilisateurs</li>
            </ol>
        </div>

        <div class="container-fluid">

            <div class="row mt-3 mb-5">
                <div class="col-md-3 text-left ml-3">
                    <form action="{{ absolute_url(path('backend_annoncebien_index')) }}">
                        <select name="filtre" id="bien_filtre" class="form-control" onchange="this.form.submit()">
                            <option value="all">-- Filtrer par type de bien ---</option>
                            <option value=""> Tous les biens </option>
                            {% for typebien in typebiens %}
                                <option value="{{ typebien.slug }}">{{ typebien.libelle }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="col-md-6 text-center">
                    <form action="{{ absolute_url(path('backend_annoncebien_index')) }}" class="form-inline">
                        <input name="recherche" type="text" class="form-control mb-2 mr-sm-2" autocomplete="off" placeholder="Recherche du bien">
                        <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <br>
            </div>

            <div class="card-deck">
                {% for annoncebien in annonceBiens %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4 bien">
                            {% if (annoncebien.imageName) %}
                                <img src="{{ vich_uploader_asset(annoncebien, 'imageFile') }}" alt="{{ annoncebien.titre }}" title="{{ annoncebien.titre }}"  class="card-img-top img-fluid"/>
                            {% else %}
                                <img src="{{ asset('frontend/images/icon-ai.png')}}" class="card-img-top img-fluid">
                            {% endif %}
                            <div class="card-body">
                                <span class="text-right">{{ annoncebien.typebien.libelle }}</span>

                                <h5 class="card-title">{{ annoncebien.titre }}</h5>
                                <p class="card-text">{{ annoncebien.resume|raw }}</p>
                                <p class="card-text">
                                    <i class="fa fa-money"> {{ annoncebien.prix|number_format(0,'','.') }}</i> &nbsp; &nbsp;
                                    <i class="fa fa-map-signs">{{ annoncebien.zone }}</i>
                                </p>
                                <p class="card-text"></p>
                                <a href="{{ path('backend_annoncebien_show', {'slug': annoncebien.slug}) }}" class="btn btn-outline-primary">Voir
                                </a>
                                {% if (annoncebien.disponibilite) %}
                                    <a href="#" class="btn btn-success" title="Disponible"><i class="fa fa-check-square-o"></i> </a>
                                {% else %}
                                    <a href="#" class="btn btn-outline-danger" title="Vendu"><i class="fa fa-chain-broken"></i> </a>
                                {% endif %}
                                {% if (annoncebien.fille == false) %}
                                    <a href="#" class="btn btn-danger" title="enregistrement non complet"><i class="fa fa-low-vision"></i></a>
                                {% endif %}
                                {% if (annoncebien.statut) %}
                                    <span class="badge badge-success pull-right">Actif</span>
                                {% else %}
                                    <span class="badge badge-danger pull-right">Déscativé</span>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <small class="text-muted">Partenaire
                                        <a href="{{ absolute_url(path('backend_internaute_bien', {'slug': annoncebien.utilisateur.slug})) }}">{{ annoncebien.utilisateur }}</a>
                                    </small>
                                </small>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12 text-center mt-5">
                        <h2>Oups!!! Aucune annonce enregistrée pour cette selection. </h2>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                {{ knp_pagination_render(annonceBiens) }}
            </div>

        </div>
    </main>
{% endblock %}

