{% extends 'backend_layout.html.twig' %}

{% block title %}Liste des annonces utilisateurs{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Gestion des annonces utilisateurs
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">liste des annonces utilisateurs</li>
            </ol>
        </div>

        <div class="container-fluid">


            <div class="card-deck">
                {% for annoncebien in annonceBiens %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            {% if (annoncebien.imageName) %}
                                <img src="{{ vich_uploader_asset(annoncebien, 'imageFile') }}" alt="{{ annoncebien.titre }}" title="{{ annoncebien.titre }}"  class="card-img-top img-fluid"/>
                            {% else %}
                                <img src="{{ asset('frontend/images/icon-ai.png')}}" class="card-img-top img-fluid">
                            {% endif %}
                            <div class="card-body">
                                <span class="text-right">{{ annoncebien.typebien.libelle }}</span>

                                <h5 class="card-title">{{ annoncebien.titre }}</h5>
                                <p class="card-text">{{ annoncebien.resume|raw }}</p>
                                <p class="card-text">
                                    <i class="fa fa-money"> {{ annoncebien.prix|number_format(0,'','.') }}</i> &nbsp; &nbsp;
                                    <i class="fa fa-map-signs">{{ annoncebien.zone }}</i>
                                </p>
                                <p class="card-text"></p>
                                <a href="{{ path('backend_annoncebien_show', {'slug': annoncebien.slug}) }}" class="btn btn-outline-primary">Voir
                                </a>
                                {% if (annoncebien.disponibilite) %}
                                    <a href="#" class="btn btn-success" title="Disponible"><i class="fa fa-check-square-o"></i> </a>
                                {% else %}
                                    <a href="#" class="btn btn-danger" title="Vendu"><i class="fa fa-chain-broken"></i> </a>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <small class="text-muted">Partenaire {{ annoncebien.utilisateur }}</small>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </main>
{% endblock %}