{% extends 'backend_layout.html.twig' %}

{% block title %}Liste des biens{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Gestion des biens
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">liste des biens</li>
            </ol>
        </div>

        <div class="container-fluid">


            <div class="row mt-5 mb-3">
                <div class="col-md-12 text-right">
                    <a href="{{ path('backend_bien_new') }}" class="btn  btn-light"><i class="fa fa-plus"></i> Ajouter un bien</a>
                </div>
                <br>
            </div>

            <div class="card-deck">
                {% for bien in biens %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <img src="{{ vich_uploader_asset(bien, 'imageFile') }}" alt="{{ bien.titre }}" title="{{ bien.titre }}"  class="card-img-top img-fluid"/>
                            <div class="card-body">
                                <span class="text-right">{{ bien.typebien.libelle }}</span>
                                <h5 class="card-title">{{ bien.titre }}</h5>
                                <p class="card-text">{{ bien.resume|raw }}</p>
                                <p class="card-text">
                                    <i class="fa fa-money"> {{ bien.prix }}</i> &nbsp; &nbsp;
                                    <i class="fa fa-map-signs"></i> {{ bien.zone }}
                                </p>
                                <p class="card-text"></p>
                                <a href="{{ path('backend_bien_show', {'slug': bien.slug}) }}" class="btn btn-outline-primary">Voir
                                </a>
                                {% if (bien.disponibilite) %}
                                    <a href="#" class="btn btn-success" title="Disponible"><i class="fa fa-check-square-o"></i> </a>
                                {% else %}
                                    <a href="#" class="btn btn-danger" title="Vendu"><i class="fa fa-chain-broken"></i> </a>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <small class="text-muted">Partenaire {{ bien.partenaire }}</small>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </main>
{% endblock %}