{% extends 'backend_layout.html.twig' %}

{% block title %}Liste des biens{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Gestion des biens
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">liste des biens</li>
            </ol>
        </div>

        <div class="container-fluid">


            <div class="row mt-3 mb-5">
                <div class="col-md-3 text-left">
                    <form action="{{ absolute_url(path('backend_bien_index')) }}">
                        <select name="filtre" id="bien_filtre" class="form-control" onchange="this.form.submit()">
                            <option value="all">-- Filtrer par type de bien ---</option>
                            <option value=""> Tous les biens </option>
                            {% for typebien in typebiens %}
                                <option value="{{ typebien.slug }}">{{ typebien.libelle }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="col-md-9 text-right">
                    <a href="{{ path('backend_bien_new') }}" class="btn  btn-light"><i class="fa fa-plus"></i> Ajouter un bien</a>
                </div>
                <br>
            </div>

            <div class="card-deck">
                {% for bien in biens %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4 bien">
                            <img src="{{ vich_uploader_asset(bien, 'imageFile') }}" alt="{{ bien.titre }}" title="{{ bien.titre }}"  class="card-img-top img-fluid"/>
                            <div class="card-body">
                                <span class="text-right">{{ bien.typebien.libelle }}</span>
                                {% if (bien.promotion) %}
                                    <span style="color: red; font-weight: bold; float: right;"><i class="fa fa-star"></i> Promotion </span><span style="float: right; font-size: 10px;">({{ bien.promodebut|date('d-m-Y') }} au {{ bien.promofin|date('d-m-Y') }})</span>
                                {% endif %}

                                <h5 class="card-title"><span class="badge badge-primary">{{ bien.programme }}</span> {{ bien.titre }}</h5>
                                <p class="card-text">{{ bien.resume|raw }}</p>
                                <p class="card-text">
                                    <i class="fa fa-money"> {{ bien.prix|number_format(0,'','.') }}</i> &nbsp; &nbsp;
                                    <i class="fa fa-map-signs">{{ bien.zone }}</i>
                                </p>
                                <p class="card-text"></p>
                                <a href="{{ path('backend_bien_show', {'slug': bien.slug}) }}" class="btn btn-outline-primary">Voir
                                </a>
                                {% if (bien.disponibilite) %}
                                    <a href="#" class="btn btn-success" title="Disponible"><i class="fa fa-check-square-o"></i> </a>
                                {% else %}
                                    <a href="#" class="btn btn-danger" title="Vendu"><i class="fa fa-chain-broken"></i> </a>
                                {% endif %}
                                {% if (bien.video) %}
                                    <a href="https://www.youtube.com/watch?v={{ bien.video }}" class="btn btn-outline-danger" title="Voir la video" target="_blank">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                {% endif %}
                                {% if (bien.datedebut) %}
                                    <a href="#" class="btn btn-info" title="Publicité du {{ bien.datedebut|date('d-m-Y') }} au {{ bien.datefin|date('d-m-Y') }}"><i class="fa fa-picture-o"></i> </a>
                                {% endif %}
                                <span style="float: right;">
                                    {% if (bien.flag == 5) %}
                                        {% for i in 1..5 %}
                                            <i class="fa fa-star-half-full"></i>
                                        {% endfor %}
                                    {% elseif (bien.flag == 4) %}
                                        {% for i in 1..4 %}
                                            <i class="fa fa-star-half-full"></i>
                                        {% endfor %}
                                    {% elseif (bien.flag == 3) %}
                                        {% for i in 1..3 %}
                                            <i class="fa fa-star-half-full"></i>
                                        {% endfor %}
                                    {% elseif (bien.flag == 2) %}
                                        {% for i in 1..2 %}
                                            <i class="fa fa-star-half-full"></i>
                                        {% endfor %}
                                    {% else %}
                                        <i class="fa fa-star-half-full"></i>
                                    {% endif %}
                                    {% if (bien.statut) %}
                                        <span class="badge badge-success">Actif</span>
                                {% else %}
                                        <span class="badge badge-danger">Désactivé</span>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    <small class="text-muted">Partenaire
                                        <a href="{{ absolute_url(path('backend_partenaire_bien', {'slug': bien.partenaire.slug})) }}">{{ bien.partenaire }}</a>
                                    </small>
                                </small>
                                <small class="text-muted pull-right">
                                    <small class="text-muted">
                                        {{ bien.publieLe|date('d-m-Y') }}
                                    </small>
                                </small>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12 text-center mt-5">
                        <h2>Oups!!! Aucun bien enregistré pour cette selection. </h2>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                {{ knp_pagination_render(biens) }}
            </div>

        </div>
    </main>
{% endblock %}

