{% extends 'backend_layout.html.twig' %}

{% block title %}{{ mouchard.titre }} par {{ mouchard.user }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Gestion du mouchard
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item ">Tableau de bord</li>
                <li class="breadcrumb-item active">Mouchard</li>
            </ol>
        </div>

        <div class="container-fluid">

            <!-- state start-->
            <div class="row">
                <div class=" col-sm-12">
                    <div class="card card-shadow mb-4">

                        <div class="card-body">
                            <ul class="list-unstyled search-results">
                                <li>
                                    <div class="title">
                                        <h6>{{ mouchard.titre }} par <a href="#">{{ mouchard.user }}</a> </h6>
                                        <a href="http://{{ mouchard.lien }}" target="_blank">http://{{ mouchard.lien }}</a>
                                    </div>
                                    <p>
                                        {{ mouchard.description }} <br>
                                        {{ mouchard.createdAt|date('Y-m-d h:i:s') }}
                                    </p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- state end-->

        </div>
    </main>
{% endblock %}