{% extends 'backend_layout.html.twig' %}

{% block title %}{{ annonceImmeuble.annoncebien.titre }}{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="page-title">
            <h4 class="mb-0">
                Gestion des biens
                <small> </small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item"> Bien</li>
                <li class="breadcrumb-item active"> {{ annonceImmeuble.annoncebien.typebien.libelle }}</li>
            </ol>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="{{ path('backend_annoncebien_index') }}" class="btn  btn-light"><i class="fa fa-list"></i> Liste des biens</a>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header">
                            <div class="card-title">
                                {{ annonceImmeuble.annoncebien.titre }}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {% if (annonceImmeuble.annoncebien.imageName) %}
                                                <img src="{{ vich_uploader_asset(annonceImmeuble.annoncebien, 'imageFile') }}" alt="{{ annonceImmeuble.annoncebien.titre }}" title="{{ annonceImmeuble.annoncebien.titre }}"  class="card-img-top img-fluid"/>
                                            {% else %}
                                                <img src="{{ asset('frontend/images/icon-ai.png')}}" class="card-img-top img-fluid">
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px">
                                            {{ annonceImmeuble.annoncebien.description|raw }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px">
                                            <u>Partenaire</u> : <strong>{{ annonceImmeuble.annoncebien.utilisateur }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="control-label" for="rubrique">Type du bien</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.annoncebien.typebien.libelle }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="">
                                            <label class="control-label" for="rubrique">Titre du bien</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.annoncebien.titre }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Zone</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.annoncebien.zone }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Localisation</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.annoncebien.localisation }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Prix</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.annoncebien.prix|number_format(0, '', '.') }} " readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Mode</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.annoncebien.mode }} " readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Appartements</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.appartement }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Etages</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.etage }} " readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Parking</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ annonceImmeuble.parking }} m2" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Ascenceur</label>
                                            <div class="elect2-container">
                                                {% if (annonceImmeuble.ascenceur) %}
                                                    <input type="text" class="form-control" value="OUI" readonly>
                                                {% else %}
                                                    <input type="text" class="form-control" value="NON" readonly>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-7 ml-auto text-right">
                                    <a class="btn btn-outline-dark" href="{{ path('backend_annoncebien_edit', {'slug': annonceImmeuble.annoncebien.slug}) }}" >Modifier</a>
                                </div>
                                <div class="col-sm-3 text-left">
                                    <form action="{{ absolute_url(path('backend_annonce_delete')) }}" method="post" onsubmit="return confirm('Voulez-vous supprimer cette annonce?')">
                                        <input type="hidden" name="bien" value="{{ annonceImmeuble.annoncebien.id }}">
                                        <input type="hidden" name="crsf_annonce" value="AlloImmoHabitat!2019">
                                        <input type="submit" value="Supprimer" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
