{% extends "base.html.twig" %}

{% block title %}
    AlloImmo
{% endblock %}

{% block body %}
    <div class="section mt-0">
        <div id="mainSliderWrapper">
            <div class="loading-content">
                <div class="loading-dots dark-gray">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>
            <div class="main-slider" id="mainSlider">
                {% for slider in sliders %}
                    <div class="slide">
                        <div class="img--holder" data-bg="{{ vich_uploader_asset(slider, 'imageFile') }}"></div>
                        <div class="slide-content center">
                            <div class="vert-wrap container">
                                <div class="vert">
                                    <div class="container">
                                        <h2 class="slide-txt1" data-animation="fadeInUp" data-animation-delay="0.5s">{{ slider.titre }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="booking-form-wrap">
            <div class="booking-form js-booking-form">
                <a href="#" class="booking-form-close js-booking-form-close"><i class="icon-close"></i></a>
                <div class="container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active tab1"><a href="#immo" aria-controls="immo" role="tab" data-toggle="tab">Acheter immo neuf</a></li>
                        <li role="presentation" class="tab2"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services equipements</a></li>
                        <li role="presentation" class="tab3"><a href="#locations" aria-controls="locations" role="tab" data-toggle="tab">ventes et locations</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="immo">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#" class="">
                                        <div class="row">
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Type de bien</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="Tous les biens">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les biens</span>
                                                            </label>
                                                        </div>
                                                        {% for typebien in typebiens %}
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                               <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="{{ typebien.libelle }}">
                                                               <span class="custom-control-indicator"></span>
                                                               <span class="custom-control-description">{{ typebien.libelle }}</span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Nombre de pièces</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5+">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Plus de 5 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1 pièce">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1 pièce</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="2 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">2 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="3 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">3 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="4 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">4 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5 pièces</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Localisation</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Partout">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Partout</span>
                                                            </label>
                                                        </div>
                                                        {% for zone in zones %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="{{ zone.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ zone.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Budget minimum</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="10.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">10.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="15.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">15.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">20.000.000</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Budget maximum</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="checkbox" value="10.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">10.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="15.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">15.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">20.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="+20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">+20.000.000</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="services">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12 col-md-7 mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-service">
                                                        <div class="form-control" id="roomType">Services</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        {% for service in services %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="{{ service.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ service.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="locations">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#">
                                        <div class="row">
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Mode</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Tous les modes">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les modes</span>
                                                            </label>
                                                        </div>
                                                        {% for mode in modes %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="{{ mode.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ mode.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Type de bien</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="Tous les biens">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les biens</span>
                                                            </label>
                                                        </div>
                                                        {% for typebien in typebiens %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="{{ typebien.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ typebien.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Nombre de pièces</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5+">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Plus de 5 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1 pièce">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1 pièce</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="2 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">2 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="3 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">3 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="4 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">4 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5 pièces</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Localisation</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Partout">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Partout</span>
                                                            </label>
                                                        </div>
                                                        {% for zone in zones %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="{{ zone.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ zone.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <div class="col-md-auto col-lg-9 text-center col-md-offset-2 ml-lg-8">
                    <div class="col-md-auto col-lg-auto text-center mt-1 mt-lg-0 col-btn col-md-offet-2 ml-lg-8">
                        {% for domaine in domaines %}
                            <a href="#" class="btn mb-1" style="background-color: #af3c65;">{{ domaine.libelle }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin: 100px auto">
            <div class="row">
                <div class="col-md-8 ">
                    <div class="row">
                        {% for promotion in promotions %}
                            <div class="col-md-7">
                                <div class="room-card-photo">
                                    <img src="{{ vich_uploader_asset(promotion, 'imageFile') }}" alt="{{ promotion.titre }}" class="img-fluid">
                                    <div class="flex-wrap-center">
                                        <a href="#" class="btn btn-primary room-qview">Voir les détails</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="room-card-info">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="room-type">{{ promotion.typebien }}</h3>
                                        </div>
                                    </div>
                                    <div class="room-size mt-0">
                                        {{ promotion.resume|raw }}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="room-price">{{ promotion.prix|number_format(0,'','.') }}</div>
                                        </div>
                                        <div class="col-auto ml-auto">
                                            <a href="#" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Détails</a>
                                            <div class="popover-content d-none">
                                                <ul>
                                                    <li>{{ promotion.zone }} </li>
                                                    <li>{{ promotion.mode }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="room-card">
                        {% for publicite in publicites %}
                            <div class="room-card-photo">
                                <img src="{{ vich_uploader_asset(publicite, 'imageFile') }}" alt="{{ publicite.titre }}" class="img-fluid">
                                <div class="flex-wrap-center">
                                    <a href="#" class="btn btn-primary room-qview">Publicité</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row room-carousel js-room-carousel">
                {% for bien in biens %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="room-card">
                            <div class="room-card-photo">
                                <img src="{{ vich_uploader_asset(bien, 'imageFile') }}" alt="{{ bien.titre }}" class="img-fluid">
                                <div class="flex-wrap-center">
                                    <a href="#" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                                </div>
                            </div>
                            <div class="room-card-info">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="room-type">{{ bien.typebien }}</h3>
                                    </div>
                                    {% if (bien.promotion) %}
                                        <div class="col-auto ml-auto">
                                            <div class="room-card-attr">
                                                <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="room-size mt-0" style="height: 100px;">
                                    {{ bien.resume|raw }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="room-price">
                                            {{ bien.prix|number_format(0,'','.') }}
                                        </div>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <a href="#" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                        <div class="popover-content d-none">
                                            <ul>
                                                <li>{{ bien.zone }}</li>
                                                <li>{{ bien.mode }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
            </div>
        </div>
        <div class="full-bg-grey">
            <div class="container">
                <div class="row no-gutters half-col">
                    <div class="col-12 col-lg-6 col-text">
                        {% for articlePresentation in articlePresentations %}
                            <h2>{{ articlePresentation.titre }}</h2>
                            <div>
                                {{ articlePresentation.resume|raw }}
                            </div>
                        {% endfor %}
                        <div class="mt-5"></div>
                        <h2>Nos services</h2>
                        <div class="row mt-1">
                            {% for service in articleServices %}
                                <div class="col-4">
                                    <a href="#" class="icn-text">
                                        <div class="icn-text-circle"><i class="icon-support"></i></div>
                                        <h6>{{ service.titre }}</h6>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-img">
                        <div class="image-caption">
                            Installez vous! Allo Immo s'occupe de tout
                        </div>
                        <div class="img-cover-right" data-bg="{{ asset('frontend/img/bg.jpg') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="specialOffer">
        <div class="container">
            <div class="text-center" style="padding-bottom: 75px">
                <h2 class="h1">Conseil & guide</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for articleConseil in articleConseils %}
                    <div class="col-6">
                        <div class="special-card">
                            <div class="special-card-photo">
                                <img src="{{ vich_uploader_asset(articleConseil, 'imageFile') }}" alt="">
                            </div>
                            <div class="special-card-caption">
                                <a href="#" class="special-card-caption-header">{{ articleConseil.titre }}</a>
                                <div class="special-card-caption-text">
                                    <div class="special-card-txt">
                                        {{ articleConseil.resume|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="banner-full">
            <div class="container">
                <div class="row">
                    <div class="col-sm text-center text-sm-left">
                        <div class="banner-full-text1">Le temps c'est de l'argent!</div>
                        <div class="banner-full-text2 d-none d-lg-block">Donc ne perdez plus le temps</div>
                    </div>
                    <div class="col-sm-auto text-center text-sm-right">
                        <div class="banner-full-text3 d-none d-lg-block">
                            Confiez votre recherche immobilière à Allo Immo
                        </div>
                        <div class="banner-full-text2 d-block d-lg-none">
                            <p>Donc ne perdez plus le temps <br>Confiez vous à Allo Immo</p>
                        </div>
                        <div class="mt-2"><a href="#" class="btn btn-primary">Contactez nous</a></div>
                    </div>
                </div>
                <div class="banner-full-image"><img src="{{ asset('frontend/images/icon-ai3.png') }}" alt=""></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="text-center" style="margin-bottom: 50px">
                <h2 class="h3">Beneficier des services de ALLO IMMO</h2>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-10">
                    <div id="faqAccordion" class="faq-accordion" data-children=".faq-item">
                        {% for faq in faqs %}
                            <div class="faq-item">
                                <a data-toggle="collapse" data-parent="#faqAccordion" href="#faqItem{{ loop.index }}" aria-expanded="{% if (loop.index == 1) %}true{% else %}false{% endif %}" aria-controls="faqItem{{ loop.index }}">{{ faq.question }}</a>
                                <div id="faqItem{{ loop.index }}" class="collapse {% if (loop.index == 1) %}show{% endif %} faq-item-content" role="tabpanel">
                                    <div>
                                        <p>
                                            {{ faq.reponse|raw }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-3">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalQuestion"><i class="icon-support"></i>Faire la promotion de son bien immobilier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block meta %}
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}
