{% extends "base.html.twig" %}

{% block title %}
    Annuaire
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            <div class="booking-form js-booking-form">
                <a href="#" class="booking-form-close js-booking-form-close"><i class="icon-close"></i></a>
                <div class="container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active tab1"><a href="#immo" aria-controls="immo" role="tab" data-toggle="tab">Acheter immo neuf</a></li>
                        <li role="presentation" class="tab2"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services equipements</a></li>
                        <li role="presentation" class="tab3"><a href="#locations" aria-controls="locations" role="tab" data-toggle="tab">ventes et locations</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="immo">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#" class="">
                                        <div class="row">
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Type de bien</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="Tous les biens">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les biens</span>
                                                            </label>
                                                        </div>
                                                        {% for typebien in typebiens %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="{{ typebien.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ typebien.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Nombre de pièces</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5+">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Plus de 5 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1 pièce">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1 pièce</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="2 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">2 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="3 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">3 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="4 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">4 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5 pièces</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Localisation</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Partout">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Partout</span>
                                                            </label>
                                                        </div>
                                                        {% for zone in zones %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="{{ zone.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ zone.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Budget minimum</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="10.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">10.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="15.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">15.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">20.000.000</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Budget maximum</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="checkbox" value="10.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">10.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="15.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">15.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">20.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="+20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">+20.000.000</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="services">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12 col-md-7 mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-service">
                                                        <div class="form-control" id="roomType">Services</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        {% for service in services %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="{{ service.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ service.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="locations">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#">
                                        <div class="row">
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Mode</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Tous les modes">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les modes</span>
                                                            </label>
                                                        </div>
                                                        {% for mode in modes %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="{{ mode.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ mode.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Type de bien</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="Tous les biens">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les biens</span>
                                                            </label>
                                                        </div>
                                                        {% for typebien in typebiens %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="{{ typebien.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ typebien.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Nombre de pièces</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5+">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Plus de 5 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1 pièce">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1 pièce</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="2 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">2 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="3 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">3 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="4 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">4 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5 pièces</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Localisation</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Partout">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Partout</span>
                                                            </label>
                                                        </div>
                                                        {% for zone in zones %}
                                                            <div class="form-check">
                                                                <label class="custom-control custom-radio">
                                                                    <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="{{ zone.libelle }}">
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description">{{ zone.libelle }}</span>
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h1">Annuaire</h2>
            </div>
        </div>
        <div class="container">
            <div class="row room-grid">
                {% for bien in biens %}
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="room-card">
                            <div class="room-card-photo">
                                <img src="{{ vich_uploader_asset(bien, 'imageFile') }}" alt="{{ bien.titre }}" class="img-fluid">
                                <div class="flex-wrap-center">
                                    {% if (bien.disponibilite) %}
                                        <a href="{{ path('frontend_bien', {'typebien': bien.typebien.slug, 'slug': bien.slug}) }}" class="btn btn-primary room-qview">Disponible</a>
                                    {% else %}
                                        <a href="{{ path('frontend_bien', {'typebien': bien.typebien.slug, 'slug': bien.slug}) }}" class="btn btn-primary room-qview">Non disponible</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="room-card-info">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="room-type">{{ bien.typebien }}</h3>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <div class="room-card-attr">
                                            {% if (bien.promotion) %}
                                                <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="room-size mt-0" style="height: 100px;">
                                    {{ bien.resume|raw }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="room-price">
                                            {{ bien.prix|number_format(0,'','.') }}
                                        </div>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <a href="{{ path('frontend_bien', {'typebien': bien.typebien.slug, 'slug': bien.slug}) }}" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                        <div class="popover-content d-none">
                                            <ul>
                                                <li>{{ bien.zone }}</li>
                                                <li>{{ bien.mode }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                {% endfor %}
            </div>
            {% if (pagination) %}
                <div class="row ">
                    <div class="col-sm-12 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 text-center " style="">
                        <ul class="paginations">
                            <li class="page-item">
                                <a href="#" class="page-link">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Prec</span>
                                </a>
                            </li>
                            <li class="page-item disabled"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Suiv</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}