{% extends "base.html.twig" %}

{% block title %}
    {{ autrebien.bien.titre }}
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center" style="font-style: italic">
                <h3>{{ autrebien.bien.titre }}</h3>
            </div>
            <div class="slider-gallery">
                <ul class="slider-room-gallery-main list-unstyled js-slider-gallery-room-main">
                    <li><img src="{{ asset('uploads/biens/'~ autrebien.bien.imageName) | imagine_filter('fo_bienshow_principal') }}" alt="{{ autrebien.bien.titre }}"></li>
                    {% for photo in photos %}
                        <li><img src="{{ asset('uploads/gallerie/biens/'~ photo.imageName) | imagine_filter('fo_bienshow_principal') }}" alt="{{ photo.bien.titre }}"></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="slider-gallery">
                        <ul class="slider-room-gallery-thumbs list-unstyled js-slider-gallery-room-thumbs">
                            <li><img src="{{ asset('uploads/biens/'~ autrebien.bien.imageName) | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ autrebien.bien.titre }}"></li>
                            {% for photo in photos %}
                                <li><img src="{{ asset('uploads/gallerie/biens/'~ photo.imageName) | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ photo.bien.titre }}"></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="info-grid">
                        <div class="row align-items-center">
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Mode</div>
                                <div class="info-grid-text">{{ autrebien.bien.mode }}</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Localisation</div>
                                <div class="info-grid-text">{{ autrebien.bien.zone }}</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Superfice</div>
                                <div class="info-grid-text">{{ autrebien.superficie }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Description</h2>
                    <p>
                        {{ autrebien.bien.description|raw }}
                    </p>
                    <div class="mt-3 mt-md-5"></div>
                    <h2>Géolocalisation</h2>
                    <div class="row">
                        <div class="col-md-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d127106.57832737415!2d-4.061049601343239!3d5.404696785636039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xfc1949efb148f67%3A0x18f4edc4b076deda!2sangre+petro+ivoire!3m2!1d5.4047008!2d-3.991009!5e0!3m2!1sfr!2sci!4v1520258597609" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="row">
                        <div class="col-sm col-lg-12">
                            <div class="info-box-color">
                                <div class="text-center mt-2">
                                    <div class="info-box-price">{{ autrebien.bien.prix|number_format(0,'','.') }} Fcfa</div>
                                    <div class="mt-2"><a href="#" class="btn btn-primary btn-white btn-block">Reservez</a></div>
                                    <p class="p-sm mt-2"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 mt-3 mt-sm-0 mt-lg-3">
                            <div class="info-box-grey">
                                <img src="{{ vich_uploader_asset(autrebien.bien.partenaire, 'imageFile') }}" alt="{{ autrebien.bien.partenaire }}" title="{{ autrebien.bien.partenaire }}" class="img-fluid">
                                <ul class="icn-list">
                                    <li><i class="icon-telephone"></i>+225 {{ autrebien.bien.partenaire.contact1 }}</li>
                                    <li><i class="icon-closed-envelope"></i><a href="mailto:{{ autrebien.bien.partenaire.email }}">{{ autrebien.bien.partenaire.email }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                {% if (similaires) %}
                    <h2>Autres offres</h2>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row d-flex room-carousel js-room-carousel">
                {% for similaire in similaires %}
                    <div class="col-4">
                        <div class="room-card">
                            <div class="room-card-photo">
                                <img src="{{ asset('uploads/biens/'~ similaire.imageName) | imagine_filter('bienAccueil_thumb') }}" alt="{{ similaire.titre }}" class="img-fluid">
                                <div class="flex-wrap-center">
                                    <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                                </div>
                            </div>
                            <div class="room-card-info">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="room-type">{{ similaire.typebien }}</h3>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <div class="room-card-attr">
                                            <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room-size mt-0">
                                    {{ similaire.resume|raw }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="room-price">
                                            {{ similaire.prix|number_format(0,'','.') }}
                                        </div>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <a href="#" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                        <div class="popover-content d-none">
                                            <ul>
                                                <li>{{ similaire.zone }}</li>
                                                <li>{{ simialire.bien.mode }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}