{% extends "base.html.twig" %}

{% block title %}
    {{ autrebien.bien.titre }}
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            
            {% if (app.flashes('notice')) %}
            <div class="modal fade" id="overlay">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center">Votre message a été envoyé avec succès! </h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if (app.flashes('erreur')) %}
            <div class="modal fade" id="overlay">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Oups!! votre message n'a pas être envoyé, veuillez réessayer plutard! </h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.flashes('erreur') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="title-wrap text-center" style="font-style: italic">
                <h3><span class="badge badge-primary">{{ autrebien.bien.programme }}</span>{{ autrebien.bien.titre }}</h3>
            </div>
            <div class="slider-gallery">
                <ul class="slider-room-gallery-main list-unstyled js-slider-gallery-room-main">
                    <li><img src="{{ asset('uploads/biens/'~ autrebien.bien.imageName) | imagine_filter('fo_bienshow_principal') }}" alt="{{ autrebien.bien.titre }}"></li>
                    {% for photo in photos %}
                        <li><img src="{{ asset('uploads/gallerie/biens/'~ photo.imageName) | imagine_filter('fo_bienshow_principal') }}" alt="{{ photo.bien.titre }}"></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="slider-gallery">
                        <ul class="slider-room-gallery-thumbs list-unstyled js-slider-gallery-room-thumbs">
                            <li><img src="{{ asset('uploads/biens/'~ autrebien.bien.imageName) | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ autrebien.bien.titre }}"></li>
                            {% for photo in photos %}
                                <li><img src="{{ asset('uploads/gallerie/biens/'~ photo.imageName) | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ photo.bien.titre }}"></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="info-grid">
                        <div class="row align-items-center">
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Mode</div>
                                <div class="info-grid-text">{{ autrebien.bien.mode }}</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Localisation</div>
                                <div class="info-grid-text">{{ autrebien.bien.zone }}</div>
                            </div>
                            {% if (autrebien.bien.typebienslug == 'cuisi') %}
                                {% set temp = 1 %}
                            {% elseif (autrebien.bien.typebienslug == 'porte') %}
                                {% set temp = 1 %}
                            {% elseif (autrebien.bien.typebienslug == 'fenet') %}
                                {% set temp = 1 %}
                            {% else %}
                                {% set temp = 0 %}
                            {% endif %}
                            {% if (temp == 0) %}
                                <div class="col-6 col-sm">
                                    <div class="info-grid-label">Superfice</div>
                                    <div class="info-grid-text">{{ autrebien.bien.typebienslug }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Description</h2>
                    <p>
                        {{ autrebien.bien.description|raw }}
                    </p>
                    {% if (autrebien.bien.localisation) %}
                        <div class="mt-3 mt-md-5"></div>
                        <h2>Géolocalisation</h2>
                        <div class="row">
                            <div class="col-md-0">
                                {{ autrebien.bien.localisation|raw }}
                            </div>
                        </div>
                    {% endif %}
                    {% if (autrebien.bien.video) %}
                        <div class="mt-3 mt-md-5"></div>
                        <h2>Vidéo</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <iframe width="600" height="350" src="https://www.youtube.com/embed/{{ autrebien.bien.video }}?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="row">
                        {% if (autrebien.bien.affichagePrix and autrebien.bien.prix != 0) %}
                        <div class="col-sm col-lg-12">
                            <div class="info-box-color">
                              <div class="text-center mt-2">
                                  <div class="info-box-price">{{ autrebien.bien.prix|number_format(0,'','.') }} Fcfa</div>
                                  <p class="p-sm mt-2"></p>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-sm col-lg-12 mt-3 mt-sm-0 mt-lg-3">
                            <div class="info-box-grey">
                                <img src="{{ vich_uploader_asset(autrebien.bien.partenaire, 'imageFile') }}" alt="{{ autrebien.bien.partenaire }}" title="{{ autrebien.bien.partenaire }}" class="img-fluid">
                                <ul class="icn-list">
                                    <li><i class="icon-telephone"></i>+225 {{ autrebien.bien.partenaire.contact1 }}</li>
                                    <li><i class="icon-closed-envelope"></i><a href="mailto:{{ autrebien.bien.partenaire.email }}">{{ autrebien.bien.partenaire.email }}</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="text-center mt-15">Etes-vous interessés?</h4>
                                <form action="{{ path('mail_interesse_bien')}}" method="post">
                                    <div class="row">
                                        <div class="col-sm-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                            <div class="form-group">
                                                <input type="text" name="Nom" class="form-control" placeholder="Nom *" autocomplete="off" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Prenoms" class="form-control" placeholder="Prénoms *" autocomplete="off" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Telephone" class="form-control" placeholder="Téléphone *" autocomplete="off" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Email" class="form-control" placeholder="Email *" autocomplete="off" required>
                                            </div>
                                            <div class="form-group">
                                                <textarea name="Observation" class="form-control" placeholder="Observations *" required></textarea>
                                            </div>
                                            <div class="form-group text-right">
                                                <input type="hidden" name="Lien" value="{{ absolute_url(path('frontend_bien', {'typebien': autrebien.bien.typebien.slug, 'slug': autrebien.bien.slug}))}}">
                                                <input type="hidden" name="Partenaire" value="{{autrebien.bien.partenaire.email}}">
                                                <input type="hidden" name="Tbien" value="{{autrebien.bien.typebien.slug }}">
                                                <input type="hidden" name="BienSlug" value="{{autrebien.bien.slug }}">
                                                <input type="hidden" name="BienNom" value="{{autrebien.bien.titre }}">
                                                <input type="hidden" name="Image" value="{{ absolute_url(asset('uploads/biens/'~ autrebien.bien.imageName)) }}">
                                                <input type="submit" name="Interesse" class="btn btn-primary" value="Envoyer">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                {% if (similaires) %}
                    <h2>Autres offres</h2>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for similaire in similaires %}
                    <div class="col-4">
                        <div class="room-card">
                            <div class="room-card-photo">
                                <img src="{{ asset('uploads/biens/'~ similaire.imageName) | imagine_filter('bienAccueil_thumb') }}" alt="{{ similaire.titre }}" class="img-fluid">
                                <div class="flex-wrap-center">
                                    <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                                </div>
                            </div>
                            <div class="room-card-info">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="room-type">{{ similaire.typebien }}</h3>
                                    </div>
                                    {% if similaire.promotion %}
                                    <div class="col-auto ml-auto">
                                        <div class="room-card-attr">
                                            <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="room-size mt-0">
                                    {{ similaire.resume|raw }}
                                </div>
                                <div class="row">
                                  {% if similaire.affichagePrix and similaire.prix != 0 %}
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les détails">
                                        <i class="fa fa-money"></i> <span class="">{{ similaire.prix|number_format(0,'','.') }} FCFA</span>
                                      </a>
                                    </div>
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les détails">
                                        <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                      </a>
                                    </div>
                                  {% elseif (similaire.prix == 0) %}
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les details">
                                        <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                      </a>
                                    </div>
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                        <i class="fa fa-exclamation-circle"></i> <span class="">{{ similaire.programme }}</span>
                                      </a>
                                    </div>
                                  {% else %}
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                        <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                      </a>
                                    </div>
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                        <i class="fa fa-exclamation-circle"></i> <span class="">{{ similaire.programme }}</span>
                                      </a>
                                    </div>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#overlay').modal('show');

        setTimeout(function() {
            $('#overlay').modal('hide');
        }, 10000);
    </script>
{% endblock %}
