{% extends "base.html.twig" %}

{% block title %}
    Conseils & guides
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h1">Conseils & guides</h2>
            </div>
        </div>
        <div class="container" style="margin-bottom: 100px">
            <div class="row">
                <div class="col-md-8">
                    <div class="row special-grid">
                        {% for article in articles %}
                            <div class="col-sm-6">
                                <div class="special-card-2">
                                    <div class="special-card-2-photo">
                                        <a href="{{ path('frontend_page', {'rubrique': article.rubrique.slug, 'slug':article.slug}) }}">
                                            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="special-card-2-info">
                                        <h5>
                                            <a href="{{ path('frontend_page', {'rubrique': article.rubrique.slug, 'slug':article.slug}) }}">
                                                {{ article.titre }}
                                            </a>
                                        </h5>
                                        <div class="row">
                                            <div class="col-md d-flex flex-column text-justify">
                                                {{ article.resume|raw }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--<ul class="pagination" style="margin-top: 50px">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                    </ul>-->

                </div>
                <div class="col-md-4 mt-3 mt-md-0">
                    <ul class="slider-single list-unstyled js-slider-single">
                        {% for publicite in publicites %}
                            <li><img src="{{ vich_uploader_asset(publicite, 'imageFile') }}" alt="" class="img-fluid"></li>
                        {% endfor %}
                    </ul>

                    <div class="row" style="margin-top: 50px">
                        <div class="col-sm-12">
                            <h4>Nous suivre</h4>
                            <div class="text-center" style="margin-left: 25px">
                                <a href="#"><i class="icon-facebook-logo fa-2x"></i></a>
                                <a href="#"><i class="icon-twitter-logo1 fa-2x"></i></a>
                                <a href="#"><i class="icon-google-logo fa-2x"></i></a>
                                <a href="#"><i class="icon-instagram-logo fa-2x"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}