{% extends "base.html.twig" %}

{% block title %}
    {{ immeuble.bien.titre }}
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            <div class="booking-form js-booking-form">
                <a href="#" class="booking-form-close js-booking-form-close"><i class="icon-close"></i></a>
                <div class="container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active tab1"><a href="#immo" aria-controls="immo" role="tab" data-toggle="tab">Acheter immo neuf</a></li>
                        <li role="presentation" class="tab2"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services equipements</a></li>
                        <li role="presentation" class="tab3"><a href="#locations" aria-controls="locations" role="tab" data-toggle="tab">ventes et locations</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="immo">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#" class="">
                                        <div class="row">
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Type de bien</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="Tous les biens">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les biens</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="immeuble basse">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">immeuble basse</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="immeuble Duplex">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">immeuble Duplex</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Studio">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Studio Rooms</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Nombre de pièces</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5+">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Plus de 5 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1 pièce">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1 pièce</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="2 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">2 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="3 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">3 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="4 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">4 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5 pièces</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Localisation</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Partout">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Partout</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Cocody">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Cocody</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Abobo">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Abobo</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Bassam">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Bassam</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Studio Room">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Studio Rooms</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Bingerville">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Bingerville</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Budget minimum</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="10.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">10.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="15.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">15.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">20.000.000</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-immo">
                                                        <div class="form-control" id="roomType">Budget maximum</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="checkbox" value="10.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">10.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="15.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">15.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">20.000.000</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="+20.000.000">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">+20.000.000</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="services">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12 col-md-7 mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-service">
                                                        <div class="form-control" id="roomType">Services</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Professionnel foncier">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Professionnel foncier</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Agense immobilières">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Agense immobilières</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Administration publique">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Administration publique</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Décoration">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Décoration</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="locations">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">

                                    <form action="#">
                                        <div class="row">
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Mode</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Tous les modes">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les modes</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Location">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Location</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Vente">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Vente</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Type de bien</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room input-immo" name="room-type" type="radio" value="Tous les biens">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Tous les biens</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="immeuble basse">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">immeuble basse</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="immeuble Duplex">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">immeuble Duplex</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Studio">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Studio Rooms</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Nombre de pièces</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5+">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Plus de 5 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="1 pièce">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">1 pièce</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="2 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">2 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="3 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">3 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="4 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">4 pièces</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="5 pièces">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">5 pièces</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-auto mt-1 mt-md-0">
                                                <div class="popover-markup popover-2">
                                                    <div class="trigger form-group form-location">
                                                        <div class="form-control" id="roomType">Localisation</div>
                                                    </div>
                                                    <div class="popover-content">
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Partout">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Partout</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Cocody">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Cocody</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Abobo">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Abobo</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Bassam">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Bassam</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Studio Room">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Studio Rooms</span>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="custom-control custom-radio">
                                                                <input class="form-check-input custom-control-input js-radio-room" name="room-type" type="radio" value="Bingerville">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Bingerville</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                                <button class="btn btn-primary">Rechercher</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h1>{{ immeuble.bien.typebien }}</h1>
            </div>
            <div class="slider-gallery">
                <ul class="slider-room-gallery-main list-unstyled js-slider-gallery-room-main">
                    <li><img src="{{ vich_uploader_asset(immeuble.bien, 'imageFile') }}" alt="{{ immeuble.bien.titre }}"></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="info-grid">
                        <div class="row align-items-center">
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Mode</div>
                                <div class="info-grid-text">{{ immeuble.bien.mode }}</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Localisation</div>
                                <div class="info-grid-text">{{ immeuble.bien.zone }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Description</h2>
                    <p>
                        {{ immeuble.bien.description|raw }}
                    </p>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Autres caractéristiques</h2>
                    <div class="row">
                        <div class="form-group">
                            <label for="" class="custom-control custom-checbox">
                                {% if (immeuble.parking) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Parking</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Parking</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (immeuble.ascenceur) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Ascenceur</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Ascenceur</span></i>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    <div class="mt-3 mt-md-5"></div>
                    <h2>Géolocalisation</h2>
                    <div class="row">
                        <div class="col-md-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d127106.57832737415!2d-4.061049601343239!3d5.404696785636039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xfc1949efb148f67%3A0x18f4edc4b076deda!2sangre+petro+ivoire!3m2!1d5.4047008!2d-3.991009!5e0!3m2!1sfr!2sci!4v1520258597609" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="row">
                        <div class="col-sm col-lg-12">
                            <div class="info-box-color">
                                <div class="row details">
                                    <div class="col-sm-8 label">Nombre d'appartements</div>
                                    <div class="col-sm-4 value">{{ immeuble.appartement }}</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Nombre d'étages</div>
                                    <div class="col-sm-4 value">{{ immeuble.etage }}</div>
                                </div>
                                <div class="text-center mt-2">
                                    <div class="info-box-price">{{ immeuble.bien.prix|number_format(0,'','.') }} Fcfa</div>
                                    <div class="mt-2"><a href="#" class="btn btn-primary btn-white btn-block">Reservez</a></div>
                                    <p class="p-sm mt-2"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 mt-3 mt-sm-0 mt-lg-3">
                            <div class="info-box-grey">
                                <h4>{{ immeuble.bien.partenaire }}</h4>
                                <ul class="icn-list">
                                    <li><i class="icon-telephone"></i>+225 {{ immeuble.bien.partenaire.contact1 }}</li>
                                    <li><i class="icon-closed-envelope"></i><a href="mailto:{{ immeuble.bien.partenaire.email }}">{{ immeuble.bien.partenaire.email }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                {% if (similaires) %}
                    <h2>Autres offres</h2>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row d-flex room-carousel js-room-carousel">
                {% for similaire in similaires %}
                    <div class="col-4">
                        <div class="room-card">
                            <div class="room-card-photo">
                                <img src="{{ vich_uploader_asset(similaire.bien, 'imageFile') }}" alt="{{ simialire.bien.titre }}" class="img-fluid">
                                <div class="flex-wrap-center">
                                    <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                                </div>
                            </div>
                            <div class="room-card-info">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="room-type">{{ similaire.bien.typebien }}</h3>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <div class="room-card-attr">
                                            <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room-size mt-0">
                                    {{ similaire.bien.resume|raw }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="room-price">
                                            {{ similaire.bien.prix|number_format(0,'','.') }}
                                        </div>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <a href="#" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                        <div class="popover-content d-none">
                                            <ul>
                                                <li>{{ similaire.bien.zone }}</li>
                                                <li>{{ simialire.bien.mode }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}