{% extends "base.html.twig" %}

{% block title %}
    {{ page.titre }}
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h1">{{ page.rubrique }}</h2>
            </div>
        </div>
        <div class="container" style="margin-bottom: 100px">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="mt-15">{{ page.titre }}</h3>
                    <div class="text-justify">
                        <!--<img src="{{ vich_uploader_asset(page, 'imageFile') }}" class="w-100" alt="{{ page.titre }}" style="float: left;">-->
                        <img src="{{ absolute_url(asset('uploads/asset/'~ page.imageName) | imagine_filter('fo_page')) }}" alt="{{ page.titre }}" style="float: left; padding-right: 25px;">
                        {{ page.contenu|raw }}
                    </div>

                </div>
                <div class="col-md-4 mt-3 mt-md-0">
                    <ul class="slider-single list-unstyled js-slider-single">
                        {% for publicite in publicites %}
                            <li><img src="{{ vich_uploader_asset(publicite, 'imageFile') }}" alt="" class="img-fluid"></li>
                        {% endfor %}
                    </ul>

                    <div class="row" style="margin-top: 50px">
                        <div class="col-sm-12">
                            <h4>Nous suivre</h4>
                            <div class="text-center" style="margin-left: 25px">
                                <a href="#"><i class="icon-facebook-logo fa-2x"></i></a>
                                <a href="#"><i class="icon-twitter-logo1 fa-2x"></i></a>
                                <a href="#"><i class="icon-google-logo fa-2x"></i></a>
                                <a href="#"><i class="icon-instagram-logo fa-2x"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}