{% extends "base.html.twig" %}

{% block title %}
    {{ typebien }}
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h3" style="font-style: italic">{{ typebien }}</h2>
            </div>
        </div>
        <div class="container">
            <div class="row room-grid">
                {% for autrebien in autrebiens %}
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="room-card">
                            <div class="room-card-photo">
                                <img src="{{ asset('uploads/biens/'~ autrebien.bien.imageName) | imagine_filter('bienAccueil_thumb') }}" alt="{{ autrebien.bien.titre }}" class="img-fluid">
                                <div class="flex-wrap-center">
                                    {% if (autrebien.bien.disponibilite) %}
                                        <a href="{{ path('frontend_internaute_annonce_show', {'typebien': autrebien.bien.typebien.slug, 'slug': autrebien.bien.slug}) }}" class="btn btn-primary room-qview">Disponible</a>
                                    {% else %}
                                        <a href="{{ path('frontend_internaute_annonce_show', {'typebien': autrebien.bien.typebien.slug, 'slug': autrebien.bien.slug}) }}" class="btn btn-primary room-qview">Non disponible</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="room-card-info">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="room-type">{{ autrebien.bien.typebien }}</h3>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <div class="room-card-attr">
                                            {% if (autrebien.bien.promotion) %}
                                                <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="room-size mt-0" style="height: 100px;">
                                    {{ autrebien.bien.resume|raw }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="room-price">
                                            {{ autrebien.bien.prix|number_format(0,'','.') }}
                                        </div>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <a href="{{ path('frontend_internaute_annonce_show', {'typebien': autrebien.bien.typebien.slug, 'slug': autrebien.bien.slug}) }}" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                        <div class="popover-content d-none">
                                            <ul>
                                                <li>{{ autrebien.bien.zone }}</li>
                                                <li>{{ autrebien.bien.mode }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8 col-sm-offset-2 text-center" style="text-align: center">
                            <h6 class="text-center recherche-alerte" style="font-style:italic; color: #af3c65;">
                                <i class="fa fa-exclamation-triangle fa-lg"></i>
                                Oups! aucun résultat trouvé pour cette selection.
                                Veuillez faire une autre recherche
                            </h6>
                        </div>
                    </div>
                    {% for bien in biens %}
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="room-card">
                                <div class="room-card-photo">
                                    <img src="{{ asset('uploads/biens/'~ bien.imageName) | imagine_filter('bienAccueil_thumb') }}" alt="{{ bien.titre }}" class="img-fluid">
                                    <div class="flex-wrap-center">
                                        {% if (bien.disponibilite) %}
                                            <a href="{{ path('frontend_internaute_annonce_show', {'typebien': bien.typebien.slug, 'slug': bien.slug}) }}" class="btn btn-primary room-qview">Disponible</a>
                                        {% else %}
                                            <a href="{{ path('frontend_internaute_annonce_show', {'typebien': bien.typebien.slug, 'slug': bien.slug}) }}" class="btn btn-primary room-qview">Non disponible</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="room-card-info">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="room-type">{{ bien.typebien }}</h3>
                                        </div>
                                        <div class="col-auto ml-auto">
                                            <div class="room-card-attr">
                                                {% if (bien.promotion) %}
                                                    <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="room-size mt-0" style="height: 100px;">
                                        {{ bien.resume|raw }}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="room-price">
                                                {{ bien.prix|number_format(0,'','.') }}
                                            </div>
                                        </div>
                                        <div class="col-auto ml-auto">
                                            <a href="{{ path('frontend_internaute_annonce_show', {'typebien': bien.typebien.slug, 'slug': bien.slug}) }}" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                            <div class="popover-content d-none">
                                                <ul>
                                                    <li>{{ bien.zone }}</li>
                                                    <li>{{ bien.mode }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% if (pagination) %}
                <div class="row ">
                    <div class="col-sm-12 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 text-center " style="">
                        <ul class="paginations">
                            <li class="page-item">
                                <a href="#" class="page-link">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Prec</span>
                                </a>
                            </li>
                            <li class="page-item disabled"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Suiv</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
