<div class="booking-form js-booking-form">
    <a href="#" class="booking-form-close js-booking-form-close"><i class="icon-close"></i></a>
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active tab1"><a href="#immo" aria-controls="immo" role="tab" data-toggle="tab">Acheter immo neuf</a></li>
            <li role="presentation" class="tab2"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services equipements</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="immo">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">

                        <form action="{{ path('rfrontend_achat') }}" method="get">
                            <div class="row">
                                <div class="col-2 col-md-auto mt-1 mt-md-0">
                                    <div class="popover-markup popover-2">
                                        <div class="trigger form-group form-immo">
                                            <div class="form-control" id="roomType">Mode</div>
                                        </div>
                                        <div class="popover-content">
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input class="form-check-input custom-control-input js-radio-room input-immo" name="Mode" type="radio" value="Achat">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Achat</span>
                                                    </label>
                                                </div>
                                            <div class="form-check">
                                                <label class="custom-control custom-radio">
                                                    <input class="form-check-input custom-control-input js-radio-room input-immo" name="Mode" type="radio" value="Location">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Location</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 col-md-auto mt-1 mt-md-0">
                                    <div class="popover-markup popover-2">
                                        <div class="trigger form-group form-immo">
                                            <div class="form-control" id="roomType">Type de bien</div>
                                        </div>
                                        <div class="popover-content">
                                            {% for typebien in typebiens %}
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input class="form-check-input custom-control-input js-radio-room input-immo" name="typebien" type="radio" value="{{ typebien.libelle }}">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">{{ typebien.libelle }}</span>
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-md-auto mt-1 mt-md-0">
                                    <div class="popover-markup popover-2">
                                        <div class="trigger form-group form-immo">
                                            <div class="form-control" id="roomType">Localisation</div>
                                        </div>
                                        <div class="popover-content">
                                            {% for zone in zones %}
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input class="form-check-input custom-control-input js-radio-room" name="localisation" type="radio" value="{{ zone.libelle }}">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">{{ zone.libelle }}</span>
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-md-auto mt-1 mt-md-0">
                                    <div class="popover-markup popover-2">
                                        <div class="trigger form-group form-immo">
                                            <div class="form-control" id="roomType">Nombre de pièces</div>
                                        </div>
                                        <div class="popover-content">
                                            {% for i in range(1,6) %}
                                                {% if (loop.first) %}
                                                    <div class="form-check">
                                                        <label class="custom-control custom-radio">
                                                            <input class="form-check-input custom-control-input js-radio-room" name="piece" type="radio" value="{{ i }}">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">{{ i }} pièce</span>
                                                        </label>
                                                    </div>
                                                {% elseif (loop.last) %}
                                                    <div class="form-check">
                                                        <label class="custom-control custom-radio">
                                                            <input class="form-check-input custom-control-input js-radio-room" name="piece" type="radio" value="{{ i }}+">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">plus de {{ i }} pièces</span>
                                                        </label>
                                                    </div>
                                                {% else %}
                                                    <div class="form-check">
                                                        <label class="custom-control custom-radio">
                                                            <input class="form-check-input custom-control-input js-radio-room" name="piece" type="radio" value="{{ i }}">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">{{ i }} pièces</span>
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-md-auto mt-1 mt-md-0">
                                    <div class="popover-markup popover-2">
                                        <div class="trigger form-group form-immo">
                                            <div class="form-control" id="roomType">Budget minimum</div>
                                        </div>
                                        <div class="popover-content">
                                            {% for budget in range(low=5000000, high=100000000, step=10000000) %}
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input class="form-check-input custom-control-input js-radio-room" name="minimum" type="radio" value="{{ budget}}">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">{{ budget|number_format(0,'','.') }}</span>
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-md-auto mt-1 mt-md-0">
                                    <div class="popover-markup popover-2">
                                        <div class="trigger form-group form-immo">
                                            <div class="form-control" id="roomType">Budget maximum</div>
                                        </div>
                                        <div class="popover-content">
                                            {% for budget in range(low=10000000, high=500000000, step=20000000) %}
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input class="form-check-input custom-control-input js-radio-room" name="maximum" type="radio" value="{{ budget }}">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">{{ budget|number_format(0,'','.') }}</span>
                                                    </label>
                                                </div>
                                                {% if (loop.last) %}
                                                    <div class="form-check">
                                                        <label class="custom-control custom-radio">
                                                            <input class="form-check-input custom-control-input js-radio-room" name="maximum" type="radio" value="25000000">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">{{ 500000000|number_format(0,'','.') }}</span>
                                                        </label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="services">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">

                        <form action="{{ path('rfrontend_service') }}" method="get" name="recherche_service">
                            <div class="row">
                                <div class="col-12 col-md-7 mt-1 mt-md-0">
                                    <div class="popover-markup popover-2">
                                        <div class="trigger form-group form-service">
                                            <div class="form-control" id="roomType">Services</div>
                                        </div>
                                        <div class="popover-content">
                                            {% for service in services %}
                                                <div class="form-check">
                                                    <label class="custom-control custom-radio">
                                                        <input class="form-check-input custom-control-input js-radio-room" name="service" type="radio" value="{{ service.libelle }}">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">{{ service.libelle }}</span>
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-12 col-lg-auto text-center mt-1 mt-lg-0 col-btn">
                                    <button type="submit" class="btn btn-primary">Rechercher</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>