{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    
     <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h4">
                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                    {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    {% endif %}
                    Veuillez enregistrer votre profile
                </h2>
            </div>
        </div>
        <div class="container" style="margin-bottom: 100px">
           {{ render(url('frontend_profile_new'))}}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent()}}
    
<script src="{{ asset('frontend/vendor/form-validation/jquery.form.js') }}"></script>   
<script src="{{ asset('frontend/vendor/form-validation/jquery.validate.min.js') }}"></script>   
<script src="{{ asset('frontend/vendor/scroll-with-ease/jquery.scroll-with-ease.min.js') }}"></script>   
<script src="{{ asset('frontend/form/forms.js') }}"></script>   
{% endblock %}
