{% extends 'backend_layout.html.twig' %}

{% block title %}Enregistrement des domaines{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="page-title">
            <h4 class="mb-0">
                Gestion des domaines
                <small> </small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">Enregistrement des domaines</li>
            </ol>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="{{ path('backend_domaine_index') }}" class="btn  btn-light"><i class="fa fa-list"></i> Liste des domaines</a>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header">
                            <div class="card-title">
                                Enregistrement des domaines
                            </div>
                        </div>
                        <div class="card-body">
                            {{ form_start(form, {'attr': {'class': 'right-text-label-form', 'id':'signupForm'}}) }}

                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="titre">Nom</label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.libelle) }}
                                </div>
                            </div>
                            <div class="form-group row colorpicker-component" id="cp2">
                                <label class="col-sm-3 control-label" for="titre">Couleur</label>
                                <div id="cp2" class="input-group colorpicker-component col-sm-8">
                                    {{ form_widget(form.couleur) }}
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="titre">Ordre d'affichage</label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.ordre) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5 col-sm-offset-4">.</div>
                                <label class="custom-control custom-checkbox">
                                    {{ form_widget(form.statut) }}
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Statut</span>
                                </label>
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-group row">
                                <div class="col-sm-5 ml-auto">
                                    <button class="btn btn-primary" name="signup">Enregistrer</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('backend/vendor/colorpicker/css/bootstrap-colorpicker.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('backend/vendor/colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ asset('backend/vendor/color-picker-init.js') }}"></script>
{% endblock %}



