{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-signin rounded' } }) }}
    <a href="{{ path('homepage') }}" class="brand text-center">
        <img src="{{ asset('frontend/images/logo-ai.png') }}" srcset="{{ asset('frontend/images/logo-ai.png 2x') }}" alt=""/>
    </a>
    <div>
        <label for="fos_user_change_password_form_current_password" class="required">Mot de passe actuel</label>
        {{ form_widget(form.current_password, {'attr':{'class': 'form-control', 'required':'required', 'autocomplete':'new-password'}})}}
        {{ form_errors(form.current_password)}}
    </div>
    <div>
        <label for="fos_user_registration_form_plainPassword_first" class="required">Nouveau mot de passe</label>
        {{ form_widget(form.plainPassword.first, {'attr':{'class': 'form-control', 'required':'required', 'autocomplete':'new-password'}})}}
        {{ form_errors(form.plainPassword.first)}}
    </div>
    <div>
        <label for="fos_user_registration_form_plainPassword_second" class="required">Repeter le nouveau mot de passe</label>
        {{ form_widget(form.plainPassword.second, {'attr':{'class': 'form-control', 'required':'required', 'autocomplete':'new-password'}})}}
        {{ form_errors(form.plainPassword.second)}}
    </div>
    <div class="mb-4 mt-4">
        <input type="submit" value="{{ 'change_password.submit'|trans }}"  class="btn btn-lg btn-pill btn-block btn-primary" />
    </div>

    <div class="checkbox mb-4 mt-4">
        <label class="custom-control custom-checkbox">
                <span class="custom-control-description">
                            Gardez-vous votre mot de passe actuel ?
                        </span>
        </label>
        <a href="{{ absolute_url(path('frontend_profile_new'))}}" class="float-right text-muted">Oui</a>
    </div>
{{ form_end(form) }}
