{% extends 'backend_layout.html.twig' %}

{% block title %}{{ immeuble.bien.titre }}{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="page-title">
            <h4 class="mb-0">
                Gestion des biens
                <small> </small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item"> Bien</li>
                <li class="breadcrumb-item active"> {{ immeuble.bien.typebien.libelle }}</li>
            </ol>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="{{ path('backend_bien_index') }}" class="btn  btn-light"><i class="fa fa-list"></i> Liste des biens</a>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header">
                            <div class="card-title">
                                {{ immeuble.bien.titre }}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img src="{{ vich_uploader_asset(immeuble.bien, 'imageFile') }}" alt="{{ immeuble.bien.titre }}" title="{{ immeuble.bien.titre }}"  class="card-img-top img-fluid"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px">
                                            {{ immeuble.bien.description|raw }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px">
                                            <u>Partenaire</u> : <strong>{{ immeuble.bien.partenaire }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="control-label" for="rubrique">Type du bien</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.bien.typebien.libelle }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="">
                                            <label class="control-label" for="rubrique">Titre du bien</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.bien.titre }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Zone</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.bien.zone }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Localisation</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.bien.localisation }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Prix</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.bien.prix }} " readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Mode</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.bien.mode }} " readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Appartements</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.appartement }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Etages</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.etage }} " readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Parking</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ immeuble.parking }} m2" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Ascenceur</label>
                                            <div class="elect2-container">
                                                {% if (immeuble.ascenceur) %}
                                                    <input type="text" class="form-control" value="OUI" readonly>
                                                {% else %}
                                                    <input type="text" class="form-control" value="NON" readonly>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-7 ml-auto text-right">
                                    <a class="btn btn-outline-dark" href="{{ path('backend_bien_edit', {'slug': immeuble.bien.slug}) }}" >Modifier</a>

                                </div>
                                <div class="col-sm-3 text-left">
                                    {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Voulez-vous supprimer ce bien?")'}}) }}
                                    <input type="submit" value="Supprimer" class="btn btn-danger">
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
