{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin rounded">
    <a href="{{ path('homepage') }}" class="brand text-center">
        <img src="{{ asset('frontend/images/logo-ai.png') }}" srcset="{{ asset('frontend/images/logo-ai.png 2x') }}" alt=""/>
    </a>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h2 class="form-signin-heading text-center">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% else %}
            Se connecter
        {% endif %}
    </h2>

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group">
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" required="required" class="form-control form-control-pill" />
    </div>

    <div class="form-group">
        <input type="password" required="required" class="form-control form-control-pill" id="password" name="_password" placeholder="Mot de passe" />
    </div>

    <div class="checkbox mb-4 mt-4">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="custom-control-input" />
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
                        Se souvenir de moi
                    </span>
        </label>
        <a href="#" class="float-right text-muted">Mot de passe oublié ?</a>
    </div>
    <div class="form-group ">
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-lg btn-pill btn-block btn-primary" />
    </div>

    <div class="checkbox mb-4 mt-4">
        <label class="custom-control custom-checkbox">
            <span class="custom-control-description">
                        N'avez-vous pas de compte ?
                    </span>
        </label>
        <a href="{{ absolute_url(path('fos_user_registration_register'))}}" class="float-right text-muted">Creer un compte</a>
    </div>

</form>
