				<div class="row">
					<div class="col-lg-8 mt-3 mt-sm-0 order-lg-2 text-lg-right">
						<div class="col-sm-10 col-sm-offset-1">
							<h4 class="text-left text-primary">Enregistrement du profile</h4>
							<!--<form class="contact-form" id="contactForm" method="post" novalidate="novalidate">-->
							{% for message in app.flashes('notice') %}
								<div class="flash-notice">
									{{ message }}
								</div>
							{% endfor %}
							{% for message in app.flashes('erreur') %}
								<div class="flash-erreur">
									{{ message }}
								</div>
							{% endfor %}
                            {{ form_start(form, {'attr': {'class': 'profile-form', 'id': 'profileForm', 'novalidate': 'novalidate', 'action': path('frontend_profile_new') }})}}
								<div class="successform">
									<p>Message envoyé avec succès!</p>
								</div>
								<div class="errorform">
									<p>Echec! Veuillez reessayer plutard.</p>
								</div>
								<div class="mt-15 alert-conseil text-left">
									{{ form_widget(form.user)}}
                                    {{ form_errors(form.user)}}
								</div>
								<div class="mt-15 alert-conseil text-left">
									{{ form_widget(form.type)}}
                                    {{ form_errors(form.type)}}
								</div>
								<div class="mt-15 alert-conseil text-left">
                                    {{ form_widget(form.nom)}}
                                    {{ form_errors(form.nom)}}
								</div>
								<div class="mt-15 alert-conseil text-left">
									{{ form_widget(form.adresse)}}
                                    {{ form_errors(form.adresse)}}
								</div>
								<div class="mt-15 alert-conseil text-left">
									{{ form_widget(form.website)}}
                                    {{ form_errors(form.website)}}
								</div>
								<div class="mt-15 alert-conseil text-left">
									{{ form_widget(form.telephone)}}
                                    {{ form_errors(form.telephone)}}
								</div>
								<div class="mt-15 alert-conseil text-left">
									{{ form_widget(form.description)}}
                                    {{ form_errors(form.description)}}
								</div>
								<div class="mt-15 text-left">
									{{ form_widget(form.imageFile)}}
                                    {{ form_errors(form.imageFile)}}
								</div>
								<div class="mt-3">
									<button type="submit" class="btn btn-primary">Enregistrer</button>
								</div>
							<!--</form>-->
                            {{ form_end(form)}}
						</div>
						
					</div>
					<div class="col-lg-4 mt-3 mt-lg-0">
						<div class="row flex-lg-column">
							
							<div class="col-sm col-lg-auto mt-3 mt-sm-0 mt-lg-2">
								<a href="#" class="btn btn-primary dropdown-toggle w-100" title="Veuillez vous enregistrer pour voir votre profile">
										<i class="icon-user"></i>Profile 
									</a>
								<a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-light dropdown-toggle w-100">
									<i class="icon-user"></i>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
								</a>
								<a href="#" class="btn btn-primary btn-light dropdown-toggle w-100" title="Veuillez  vous enregistrer pour faire une annonce">
										<i class="icon-completed-tasks"></i>Faire une annonce
									</a>
								<a href="#" class="btn btn-primary btn-light dropdown-toggle w-100" title="Veuillez vous enregistrer">
										<i class="icon-completed-tasks"></i>Voir ses annonces
									</a>
							</div>
						</div>
					</div>
				</div>