{% extends "base.html.twig" %}

{% block title %}
    {{ appartement.annoncebien.titre }}
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            
            {% if (app.flashes('notice')) %}
            <div class="modal fade" id="overlay">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center">Votre message a été envoyé avec succès! </h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if (app.flashes('erreur')) %}
            <div class="modal fade" id="overlay">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Oups!! votre message n'a pas être envoyé, veuillez réessayer plutard! </h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.flashes('erreur') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="title-wrap text-center" style="font-style: italic">
                <h3>{{ appartement.annoncebien.titre }}</h3>
            </div>
            <div class="slider-gallery">
                <ul class="slider-room-gallery-main list-unstyled js-slider-gallery-room-main">
                    {% if (appartement.annoncebien.imageName) %}
                        <li><img src="{{ asset('uploads/biens/'~ appartement.annoncebien.imageName) | imagine_filter('fo_bienshow_principal') }}" alt="{{ appartement.annoncebien.titre }}"></li>
                    {% else %}
                        <li><img src="{{ asset('frontend/images/icon-ai.png') | imagine_filter('fo_bienshow_principal') }}" alt="{{ appartement.annoncebien.titre }}"></li>
                    {% endif %}
                    {% if photos %}
                        {% for photo in photos %}
                            <li><img src="{{ asset('uploads/gallerie/biens/'~ photo.imageName) | imagine_filter('fo_bienshow_principal') }}" alt="{{ photo.annoncebien.titre }}"></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="slider-gallery">
                        <ul class="slider-room-gallery-thumbs list-unstyled js-slider-gallery-room-thumbs">
                            {% if (appartement.annoncebien.imageName) %}
                                <li><img src="{{ asset('uploads/biens/'~ appartement.annoncebien.imageName) | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ appartement.annoncebien.titre }}"></li>
                            {% else %}
                                <li><img src="{{ asset('frontend/images/icon-ai.png') | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ appartement.annoncebien.titre }}"></li>
                            {% endif %}
                            {% for photo in photos %}
                                <li><img src="{{ asset('uploads/gallerie/biens/'~ photo.imageName) | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ photo.annoncebien.titre }}"></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="info-grid">
                        <div class="row align-items-center">
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Mode</div>
                                <div class="info-grid-text">{{ appartement.annoncebien.mode }}</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Localisation</div>
                                <div class="info-grid-text">{{ appartement.annoncebien.zone }}</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Superfice</div>
                                <div class="info-grid-text">{{ appartement.superficie }} m<sup>2</sup></div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Description</h2>
                    <p>
                        {{ appartement.annoncebien.description|raw }}
                    </p>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Autres caractéristiques</h2>
                    <div class="row">
                        <div class="form-group">
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.parking) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Parking</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Parking</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.ascenceur) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Ascenceur</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Ascenceur</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.chauffeau) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Chauffe eau</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Chauffe eau</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.videosurveillance) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Vidéo surveillance</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Vidéo surveillance</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.videosurveillance) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Alarme</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Alarme</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.videosurveillance) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Buanderie</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Buanderie</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.videosurveillance) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Interphone</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Interphone</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.videosurveillance) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Meublée</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Meublée</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.videosurveillance) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Dressing</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Dressing</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.videosurveillance) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Terrasse</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Terrasse</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.etage) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Etage</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Etage</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.balcon) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Balcon</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Balcon</span></i>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    <div class="mt-3 mt-md-5"></div>
                    <h2>Géolocalisation</h2>
                    <div class="row">
                        <div class="col-md-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d127106.57832737415!2d-4.061049601343239!3d5.404696785636039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xfc1949efb148f67%3A0x18f4edc4b076deda!2sangre+petro+ivoire!3m2!1d5.4047008!2d-3.991009!5e0!3m2!1sfr!2sci!4v1520258597609" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="row">
                        <div class="col-sm col-lg-12">
                            <div class="info-box-color">
                                <div class="row details">
                                    <div class="col-sm-8 label">Nombre de pièces</div>
                                    <div class="col-sm-4 value">{{ appartement.piece }}</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Salles d'eau</div>
                                    <div class="col-sm-4 value">{{ appartement.wc }}</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Salle de bain</div>
                                    <div class="col-sm-4 value">{{ appartement.douche }}</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Cuisine</div>
                                    <div class="col-sm-4 value">{{ appartement.cuisine }} m<sup>2</sup></div>
                                </div>
                                {% if (appartement.netage) %}
                                    <div class="row details">
                                        <div class="col-sm-8 label">N° etage</div>
                                        <div class="col-sm-4 value">{{ appartement.netage }} m<sup>2</sup></div>
                                    </div>
                                {% endif %}
                                {% if (appartement.annoncebien.affichagePrix and appartement.annoncebien.prix != 0) %}
                                <div class="text-center mt-2">
                                    <div class="info-box-price">{{ appartement.annoncebien.prix|number_format(0,'','.') }} Fcfa</div>
                                    <p class="p-sm mt-2"></p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 mt-3 mt-sm-0 mt-lg-3">
                            <div class="info-box-grey">
                                <img src="{{ vich_uploader_asset(appartement.annoncebien.utilisateur, 'imageFile') }}" alt="{{ appartement.annoncebien.utilisateur }}" title="{{ appartement.annoncebien.utilisateur }}" class="img-fluid">
                                <ul class="icn-list">
                                    <li><i class="icon-telephone"></i>+225 {{ appartement.annoncebien.utilisateur.telephone }}</li>
                                    <li><i class="icon-closed-envelope"></i><a href="mailto:{{ appartement.annoncebien.utilisateur.user.email }}">{{ appartement.annoncebien.utilisateur.user.email }}</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="text-center mt-15">Etes-vous interessés?</h4>
                                <form action="{{ path('mail_interesse_bien')}}" method="post">
                                    <div class="row">
                                        <div class="col-sm-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                            <div class="form-group">
                                                <input type="text" name="Nom" class="form-control" placeholder="Nom" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Prenoms" class="form-control" placeholder="Prénoms" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" name="Telephone" class="form-control" placeholder="Téléphone" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="Email" class="form-control" placeholder="Email" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <textarea name="Observation" class="form-control" placeholder="Observations"></textarea>
                                            </div>
                                            <div class="form-group text-right">
                                                <input type="hidden" name="Lien" value="{{ absolute_url(path('frontend_bien', {'typebien': appartement.annoncebien.typebien.slug, 'slug': appartement.annoncebien.slug}))}}">
                                                <input type="hidden" name="Partenaire" value="{{appartement.annoncebien.utilisateur.user.email}}">
                                                <input type="hidden" name="Tbien" value="{{appartement.annoncebien.typebien.slug }}">
                                                <input type="hidden" name="BienSlug" value="{{appartement.annoncebien.slug }}">
                                                <input type="hidden" name="BienNom" value="{{appartement.annoncebien.titre }}">
                                                <input type="hidden" name="Image" value="{{ absolute_url(asset('uploads/biens/'~ appartement.annoncebien.imageName)) }}">
                                                <input type="submit" name="Interesse" class="btn btn-primary" value="Envoyer">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                {% if (similaires) %}
                    <h2>Autres offres</h2>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row d-flex room-carousel js-room-carousel">
                {% for similaire in similaires %}
                    <div class="col-4">
                        <div class="room-card">
                            <div class="room-card-photo">
                                <img src="{{ asset('uploads/biens/'~ similaire.imageName) | imagine_filter('bienAccueil_thumb') }}" alt="{{ similaire.titre }}" class="img-fluid">
                                <div class="flex-wrap-center">
                                    <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                                </div>
                            </div>
                            <div class="room-card-info">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="room-type">{{ similaire.titre }}</h3>
                                    </div>
                                </div>
                                <div class="room-size mt-0">
                                    {{ similaire.resume|raw }}
                                </div>
                                <div class="row">
                                  {% if similaire.affichagePrix and similaire.prix != 0 %}
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les détails">
                                        <i class="fa fa-money"></i> <span class="">{{ similaire.prix|number_format(0,'','.') }} FCFA</span>
                                      </a>
                                    </div>
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les détails">
                                        <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                      </a>
                                    </div>
                                  {% elseif (similaire.prix == 0) %}
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les details">
                                        <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                      </a>
                                    </div>
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                        <i class="fa fa-exclamation-circle"></i> <span class="">{{ similaire.mode }}</span>
                                      </a>
                                    </div>
                                  {% else %}
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                        <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                      </a>
                                    </div>
                                    <div class="col room-information">
                                      <a href="{{ path('frontend_bien', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                        <i class="fa fa-exclamation-circle"></i> <span class="">{{ similaire.mode }}</span>
                                      </a>
                                    </div>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#overlay').modal('show');

        setTimeout(function() {
            $('#overlay').modal('hide');
        }, 10000);
    </script>
{% endblock %}
