{% extends "base.html.twig" %}

{% block title %}
    {{ appartement.annoncebien.titre }}
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            
            {% if (app.flashes('notice')) %}
            <div class="modal fade" id="overlay">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center">Votre message a été envoyé avec succès! </h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if (app.flashes('erreur')) %}
            <div class="modal fade" id="overlay">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Oups!! votre message n'a pas être envoyé, veuillez réessayer plutard! </h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.flashes('erreur') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="title-wrap text-center" style="font-style: italic">
                <h3>{{ appartement.annoncebien.titre }}</h3>
            </div>
            <div class="slider-gallery">
                <ul class="slider-room-gallery-main list-unstyled js-slider-gallery-room-main">
                    {% if (appartement.annoncebien.imageName) %}
                        <li><img src="{{ asset('uploads/biens/'~ appartement.annoncebien.imageName) | imagine_filter('fo_bienshow_principal') }}" alt="{{ appartement.annoncebien.titre }}"></li>
                    {% else %}
                        <li><img src="{{ asset('frontend/images/icon-ai.png') | imagine_filter('fo_bienshow_principal') }}" alt="{{ appartement.annoncebien.titre }}"></li>
                    {% endif %}
                    {% for photo in appartement.annoncebien.photos %}
                        <li><img src="{{ asset('uploads/gallerie/annonces/'~ photo.imageName) | imagine_filter('fo_bienshow_principal') }}" alt="{{ photo.annonce.titre }}"></li>
                    {% endfor %}

                </ul>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="slider-gallery">
                        <ul class="slider-room-gallery-thumbs list-unstyled js-slider-gallery-room-thumbs">
                            {% if (appartement.annoncebien.imageName) %}
                                <li><img src="{{ asset('uploads/biens/'~ appartement.annoncebien.imageName) | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ appartement.annoncebien.titre }}"></li>
                            {% else %}
                                <li><img src="{{ asset('frontend/images/icon-ai.png') | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ appartement.annoncebien.titre }}"></li>
                            {% endif %}
                            {% for photo in appartement.annoncebien.photos %}
                                <li><img src="{{ asset('uploads/gallerie/annonces/'~ photo.imageName) | imagine_filter('fo_bien_show_secondaire') }}" alt="{{ photo.annonce.titre }}"></li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="info-grid">
                        <div class="row align-items-center">
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Mode</div>
                                <div class="info-grid-text">{{ appartement.annoncebien.mode }}</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Localisation</div>
                                <div class="info-grid-text">{{ appartement.annoncebien.zone }}</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Superfice</div>
                                <div class="info-grid-text">{{ appartement.superficie }} m<sup>2</sup></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-1"><p>.</p></div>
                    </div>
                    <div class="share-btn">
                        <a class="fb-share-button" data-href="{{ absolute_url(path('frontend_internaute_annonce_show',{'typebien': appartement.annoncebien.typebien.slug, 'slug': appartement.annoncebien.slug})) }}" data-layout="button_count"></a>
                        <!--<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Titre de a page" style="padding-top: 15px;" >Partager</a>-->
                        <a class="twitter-share-button"
                           href="https://twitter.com/intent/tweet"
                           data-size="small"
                           data-text="{{ appartement.annoncebien.resume|raw }}"
                           data-url="{{ absolute_url(path('frontend_internaute_annonce_show',{'typebien': appartement.annoncebien.typebien.slug, 'slug': appartement.annoncebien.slug})) }}"
                           data-hashtags="alloimmoci,{{ appartement.annoncebien.tags }}"
                           data-via="alloimmoci"
                           data-related="delrodie,twitter" target="_blank">
                            Tweet
                        </a>
                    </div>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Description</h2>
                    <p>
                        {{ appartement.annoncebien.description|raw }}
                    </p>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Autres caractéristiques</h2>
                    <div class="row">
                        <div class="form-group">
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.parking) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Parking</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Parking</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.ascenceur) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Ascenceur</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Ascenceur</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.chauffeau) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Chauffe eau</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Chauffe eau</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.videosurveillance) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Vidéo surveillance</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Vidéo surveillance</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.alarme) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Alarme</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Alarme</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.buanderie) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Buanderie</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Buanderie</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.interphone) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Interphone</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Interphone</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.meuble) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Meublée</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Meublée</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.dressing) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Dressing</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Dressing</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.etage) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Etage</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Etage</span></i>
                                {% endif %}
                            </label>
                            <label for="" class="custom-control custom-checbox">
                                {% if (appartement.balcon) %}
                                    <i class="fa fa-check-square"> <span style="font-size: 19px; color: #af3c65">Balcon</span></i>
                                {% else %}
                                    <i class="fa fa-square-o"> <span style="font-size: 19px">Balcon</span></i>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    <div class="mt-3 mt-md-5"></div>
                    <h2>Géolocalisation</h2>
                    <div class="row">
                        <div class="col-md-0">
                            {{ appartement.annoncebien.localisation|raw }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="row">
                        <div class="col-sm col-lg-12">
                            <div class="info-box-color">
                                <div class="row details">
                                    <div class="col-sm-8 label">Nombre de pièces</div>
                                    <div class="col-sm-4 value">{{ appartement.piece }}</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Salles d'eau</div>
                                    <div class="col-sm-4 value">{{ appartement.wc }}</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Salle de bain</div>
                                    <div class="col-sm-4 value">{{ appartement.douche }}</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Cuisine</div>
                                    <div class="col-sm-4 value">{{ appartement.cuisine }} m<sup>2</sup></div>
                                </div>
                                {% if (appartement.netage) %}
                                    <div class="row details">
                                        <div class="col-sm-8 label">N° etage</div>
                                        <div class="col-sm-4 value">{{ appartement.netage }} m<sup>2</sup></div>
                                    </div>
                                {% endif %}
                                {% if (appartement.annoncebien.affichagePrix and appartement.annoncebien.prix != 0) %}
                                <div class="text-center mt-2">
                                    <div class="info-box-price">{{ appartement.annoncebien.prix|number_format(0,'','.') }} Fcfa</div>
                                    <p class="p-sm mt-2"></p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 mt-3 mt-sm-0 mt-lg-3">
                            <div class="info-box-grey">
                                {% if (appartement.annoncebien.utilisateur.imageName) %}
                                    <img src="{{ vich_uploader_asset(appartement.annoncebien.utilisateur, 'imageFile') }}" alt="{{ appartement.annoncebien.utilisateur }}" title="{{ appartement.annoncebien.utilisateur }}" class="img-fluid">
                                {% else %}
                                    <img src="{{ asset('frontend/images/icon-ai.png')}}" alt="{{ appartement.annoncebien.utilisateur.nom }}" title="{{ appartement.annoncebien.utilisateur }}" class="img-fluid">
                                {% endif %}
                                <ul class="icn-list">
                                    <li><i class="icon-telephone"></i>+225 {{ appartement.annoncebien.utilisateur.telephone }}</li>
                                    <li><i class="icon-closed-envelope"></i><a href="mailto:{{ appartement.annoncebien.utilisateur.user.email }}">{{ appartement.annoncebien.utilisateur.user.email }}</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="text-center mt-15">Etes-vous interessés?</h4>
                                <form action="{{ path('mail_interesse_bien')}}" method="post">
                                    <div class="row">
                                        <div class="col-sm-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                            <div class="form-group">
                                                <input type="text" name="Nom" class="form-control" placeholder="Nom *" autocomplete="off" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Prenoms" class="form-control" placeholder="Prénoms *" autocomplete="off" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" name="Telephone" class="form-control" placeholder="Téléphone *" autocomplete="off" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="Email" class="form-control" placeholder="Email *" autocomplete="off" required>
                                            </div>
                                            <div class="form-group">
                                                <textarea name="Observation" class="form-control" placeholder="Observations *" required></textarea>
                                            </div>
                                            <div class="form-group text-right">
                                                <input type="hidden" name="Lien" value="{{ absolute_url(path('frontend_internaute_annonce_show', {'typebien': appartement.annoncebien.typebien.slug, 'slug': appartement.annoncebien.slug}))}}">
                                                <input type="hidden" name="Partenaire" value="{{appartement.annoncebien.utilisateur.user.email}}">
                                                <input type="hidden" name="Tbien" value="{{appartement.annoncebien.typebien.slug }}">
                                                <input type="hidden" name="BienSlug" value="{{appartement.annoncebien.slug }}">
                                                <input type="hidden" name="BienNom" value="{{appartement.annoncebien.titre }}">
                                                <input type="hidden" name="Image" value="{{ absolute_url(asset('uploads/biens/'~ appartement.annoncebien.imageName)) }}">
                                                <input type="submit" name="Interesse" class="btn btn-primary" value="Envoyer">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                {% if (compteur > 3) %}
                    {% if (similaires) %}
                        <h2>Autres offres</h2>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row d-flex room-carousel js-room-carousel">
                {% if (compteur > 3) %}
                    {% for similaire in similaires %}
                        <div class="col-4">
                            <div class="room-card">
                                <div class="room-card-photo">
                                    {% if (similaire.imageName) %}
                                        <img src="{{ asset('uploads/biens/'~ similaire.imageName) | imagine_filter('bienAccueil_thumb') }}" alt="{{ similaire.titre }}" class="img-fluid">
                                    {% else %}
                                        <img src="{{ asset('frontend/images/icon-ai.png') | imagine_filter('bienAccueil_thumb') }}" alt="{{ similaire.titre }}" class="img-fluid">
                                    {% endif %}
                                    <div class="flex-wrap-center">
                                        <a href="{{ path('frontend_internaute_annonce_show', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" class="btn btn-primary room-qview">Voir les détails</a>
                                    </div>
                                </div>
                                <div class="room-card-info">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="room-type">{{ similaire.titre }}</h3>
                                        </div>
                                    </div>
                                    <div class="room-size mt-0">
                                        {{ similaire.resume|raw }}
                                    </div>
                                    <div class="row">
                                        {% if similaire.affichagePrix and similaire.prix != 0 %}
                                            <div class="col room-information">
                                                <a href="{{ path('frontend_internaute_annonce_show', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les détails">
                                                    <i class="fa fa-money"></i> <span class="">{{ similaire.prix|number_format(0,'','.') }} FCFA</span>
                                                </a>
                                            </div>
                                            <div class="col room-information">
                                                <a href="{{ path('frontend_internaute_annonce_show', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les détails">
                                                    <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                                </a>
                                            </div>
                                        {% elseif (similaire.prix == 0) %}
                                            <div class="col room-information">
                                                <a href="{{ path('frontend_internaute_annonce_show', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}" title="Voir les details">
                                                    <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                                </a>
                                            </div>
                                            <div class="col room-information">
                                                <a href="{{ path('frontend_internaute_annonce_show', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                                    <i class="fa fa-exclamation-circle"></i> <span class="">{{ similaire.mode }}</span>
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="col room-information">
                                                <a href="{{ path('frontend_internaute_annonce_show', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                                    <i class="fa fa-map-signs"></i> <span class="">{{ similaire.zone }}</span>
                                                </a>
                                            </div>
                                            <div class="col room-information">
                                                <a href="{{ path('frontend_internaute_annonce_show', {'typebien': similaire.typebien.slug, 'slug': similaire.slug}) }}">
                                                    <i class="fa fa-exclamation-circle"></i> <span class="">{{ similaire.mode }}</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ appartement.annoncebien.tags|join(',') }}"  />
    <meta name="description" content="{{ appartement.annoncebien.resume|raw }}" />
    <meta name="revisit" content="7 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="Esthete, Delrodie AMOIKON">
    <meta name="Copyright" content="www.alloimmo.ci">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="{{ absolute_url(path('frontend_internaute_annonce_show',{'typebien': appartement.annoncebien.typebien.slug, 'slug': appartement.annoncebien.slug})) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="Item" />
    <meta property="og:title" content="{{ appartement.annoncebien.titre }}" />
    <meta property="og:description" content="{{ appartement.annoncebien.resume|raw }}" />
    <meta property="og:url" content="{{ absolute_url(path('frontend_internaute_annonce_show',{'typebien': appartement.annoncebien.typebien.slug, 'slug': appartement.annoncebien.slug})) }}" />
    <meta property="og:site_name" content="AlloImmo CI" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="{{ appartement.annoncebien.publieLe|date('Y-m-d') }}T{{ appartement.annoncebien.publieLe|date('H:i:s') }}+00:00" />
    <meta property="article:modified_time" content="{{ appartement.annoncebien.modifieLe|date('Y-m-d') }}T{{ appartement.annoncebien.modifieLe|date('H:i:s') }}+00:00" />
    <meta property="og:updated_time" content="{{ appartement.annoncebien.modifieLe|date('Y-m-d') }}T{{ appartement.annoncebien.modifieLe|date('H:i:s') }}+00:00" />
    {% if (appartement.annoncebien.imageName) %}
        <meta property="og:image" content="{{ absolute_url(vich_uploader_asset(appartement.annoncebien, 'imageFile')) }}" />
    {% else %}
        <meta property="og:image" content="http://alloimmo.ci/frontend/images/logo-ai.png" />
    {% endif %}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ appartement.annoncebien.resume|raw }}"/>
    <meta name="twitter:title" content="{{ appartement.annoncebien.titre }}"/>
    <meta name="twitter:domain" content="{{ absolute_url(path('frontend_internaute_annonce_show',{'typebien': appartement.annoncebien.typebien.slug, 'slug': appartement.annoncebien.slug}))  }}"/>
    {% if (appartement.annoncebien.imageName) %}
        <meta name="twitter:image:src" content="{{ absolute_url(vich_uploader_asset(appartement.annoncebien, 'imageFile')) }}"/>
    {% else %}
        <meta name="twitter:image:src" content="http://alloimmo.ci/frontend/images/logo-ai.png"/>
    {% endif %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ absolute_url(path('frontend_internaute_annonce_show',{'typebien': appartement.annoncebien.typebien.slug, 'slug': appartement.annoncebien.slug})) }}"
            },
            "headline": "{{ appartement.annoncebien.titre }}",
            "image": [
                "{{ absolute_url(vich_uploader_asset(appartement.annoncebien, 'imageFile')) }}",
                "http://alloimmo.ci/frontend/images/logo-ai.png"
            ],
            "datePublished": "{{ appartement.annoncebien.publieLe|date('Y-m-d') }}T{{ appartement.annoncebien.publieLe|date('H:i:s') }}+00:00",
            "dateModified": "{{ appartement.annoncebien.modifieLe|date('Y-m-d') }}T{{ appartement.annoncebien.modifieLe|date('H:i:s') }}+00:00",
            "author": {
                "@type": "Person",
                "name": "Delrodie AMOIKON"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Allo Immo",
                "logo": {
                    "@type": "ImageObject",
                    "url": "http://alloimmo.ci/frontend/images/logo-ai.png"
                }
            },
            "description": "{{ appartement.annoncebien.resume|raw }}"
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.alloimmo.ci",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+225 75 83 33 75",
                "contactType": "Direction",
                "contactOption": "TollFree",
                "areaServed": "FR"
            },{
                "@type": "ContactPoint",
                "telephone": "+225 75 83 33 75",
                "contactType": "Direction",
                "contactOption": "TollFree",
                "areaServed": [
                    "CI",
                    "FR"
                ],
                "availableLanguage": [
                    "French",
                    "English"
                ]
            }]
        }
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#overlay').modal('show');

        setTimeout(function() {
            $('#overlay').modal('hide');
        }, 10000);
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>
{% endblock %}
