{% extends 'base.html.twig' %}

{% block title %}{{ utilisateur.nom }}{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h1">Profile</h2>
            </div>
        </div>
        <div class="container">
            {% if (app.flashes('notice')) %}
            <div class="modal fade" id="overlay">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center">Votre message a été envoyé avec succès! </h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if (app.flashes('erreur')) %}
            <div class="modal fade" id="overlay">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center">Oups!! votre message n'a pas être envoyé, veuillez réessayer plutard! </h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.flashes('erreur') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
                <div class="row">
					<div class="col-lg-8 mt-3 mt-sm-0 order-lg-2 text-lg-right">
						<div class="col-sm-10 col-sm-offset-1 text-justify">
							<!--<form class="contact-form" id="contactForm" method="post" novalidate="novalidate">-->
                            L’équipe AlloImmo vous souhaite la bienvenue sur sa plateforme et une meilleure expérience
                            utilisateur pour la diffusion et la promotion de vos annonces de biens immobiliers.
                            <p>
                                Pour toute assistance vous pouvez nous joindre aux numéros suivants :
                            </p>
                            <p>
                                Telephone : <b>
                                <a href="tel:+22507535551" title="Cliquez pour appeler">+ 225 07 53 55 51</a> /
                                <a href="tel:+22571303000">71 30 30 00</a>
                                </b>
                            <p>
                                WhatsApp : <b><a href="https://api.whatsapp.com/send?phone=22507535551" target="_blank">07 53 55 51</a></b>
                            </p>
						</div>
						
					</div>
					<div class="col-lg-4 mt-3 mt-lg-0">
						<div class="row flex-lg-column">
							<div class="special-card-2">
							<div class="special-card-2-photo">
								{% if utilisateur.imagename %}
                                <img src="{{ absolute_url(vich_uploader_asset(utilisateur, 'imageFile')) }}" class="img-fluid" alt="{{ utilisateur.nom }}">
                                {% else %}
                                    <img src="{{ absolute_url(asset('frontend/images/icon-ai.png')) }}" alt="" class="img-fluid">
                                {% endif %}
                                
							</div>
							<div class="special-card-2-info">
								<div class="row">									
									<div class="col-md ml-auto mt-3 mt-md-0">
										<ul class="services-list">
											<li><i class="icon-user"> {{ utilisateur.nom }}</i><span class="badge badge-primary">{{ utilisateur.user.username|title }}</span></li>
											<li><i class="fa fa-map-marker">&nbsp;&nbsp;&nbsp; {{ utilisateur.adresse }}</i>.</li>
											<li><i class="icon icon-telephone"> {{ utilisateur.telephone }}</i>.</li>
											{% if utilisateur.website %}
                                            <li><i class="fa fa-globe">&nbsp;&nbsp;&nbsp; {{ utilisateur.website }}</i>.</li>
                                            {% endif %}                                            
											<li><i class="icon-closed-envelope"> {{ utilisateur.user.email }}</i>.</li>
											<li></li>
										</ul>
										<p class="text-justify">
											{{ utilisateur.description }}
										</p>
									</div>
								</div>
							</div>
						</div>
							<div class="col-sm col-lg-auto mt-3 mt-sm-0 mt-lg-2">
								<a href="{{ absolute_url(path('frontend_profile_edit', {'user': utilisateur.user.username, 'id': utilisateur.id}))}}" class="btn btn-primary dropdown-toggle w-100" title="Modifier le profile">
                                    <i class="icon-user"></i>Modifier le profile
                                </a>
                                <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-light dropdown-toggle w-100">
                                    <i class="icon-user"></i>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                                </a>
								<a href="{{ absolute_url(path('frontend_annonceur_new', {'user':utilisateur.user.username, 'id': utilisateur.id }))}}" class="btn btn-primary btn-light dropdown-toggle w-100">
										<i class="icon-completed-tasks"></i>Faire une annonce
									</a>
								<a href="{{ absolute_url(path('frontend_annonceur_index', {'user': utilisateur.user.username, 'id':utilisateur.id}))}}" class="btn btn-primary btn-light dropdown-toggle w-100" >
										<i class="icon-completed-tasks"></i>Voir ses annonces
									</a>
							</div>
						</div>
					</div>
				</div>
        </div>
    </div>
{% endblock %}
