{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rubrique</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rubrique.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ rubrique.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if rubrique.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ rubrique.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ rubrique.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ rubrique.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ rubrique.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ rubrique.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_rubrique_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_rubrique_edit', { 'id': rubrique.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
