<h3>Je suis interessé par votre bien</h3>

Bonjour messieurs

<p>Je suis {{ prenoms }} {{ nom}}</p>
<p>{{ observation }}</p>
<p>Je suis joignable au {{ telephone }} et à {{ email }}.</p>

le bien concerné est accessible via <a href="{{ lien }}"><button class="btn">
        ce lien
</button></a>.
