<h3>ALLOIMMO.CI</h3>

1- Informations transmises par l'internaute
<p>Prenoms & nom:  {{ prenoms }} {{ nom}} </p>
<p>Telphone {{ telephone }} et mail {{ email }}.</p>
<p>Observation: <br>{{ observation }}</p>

le bien concerné est accessible via <a href="{{ lien }}"><button class="btn">
        ce lien
</button></a>.
