{% extends 'backend_layout.html.twig' %}

{% block title %}{{ autrebien.bien.titre }}{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="page-title">
            <h4 class="mb-0">
                Gestion des biens
                <small> </small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item"> Bien</li>
                <li class="breadcrumb-item active"> {{ autrebien.bien.typebien.libelle }}</li>
            </ol>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="{{ path('backend_bien_index') }}" class="btn  btn-light"><i class="fa fa-list"></i> Liste des biens</a>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header">
                            <div class="card-title">
                                {{ autrebien.bien.titre }}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img src="{{ vich_uploader_asset(autrebien.bien, 'imageFile') }}" alt="{{ autrebien.bien.titre }}" title="{{ autrebien.bien.titre }}"  class="card-img-top img-fluid"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% if (autrebien.bien.promotion) %}
                                            <div class="col-sm-6" style="color: #ff0000; font-weight: bold; margin-top: 10px">
                                                <i class="fa fa-star"></i> Offre promotionnelle
                                            </div>

                                        {% endif %}
                                        {% if (autrebien.bien.datedebut) %}
                                            <div class="col-sm-12" style="margin-top: 10px;">
                                                Publicité du <span style="font-style: italic; font-weight: bold">{{ autrebien.bien.datedebut|date('d/m/Y') }}</span>
                                                au <span style="font-style: italic; font-weight: bold">{{ autrebien.bien.datefin|date('d/m/Y') }}</span>
                                            </div>
                                        {% endif %}
                                        <div class="col-sm-12 text-left"> Affichage:
                                            <span style="color: rebeccapurple; font-weight: bold; margin-top: 10px">
                                            {% if (autrebien.bien.flag == 5) %}
                                                {% for i in 1..5 %}
                                                    <i class="fa fa-star-half-full"></i>
                                                {% endfor %}
                                            {% elseif (autrebien.bien.flag == 4) %}
                                                {% for i in 1..4 %}
                                                    <i class="fa fa-star-half-full"></i>
                                                {% endfor %}
                                            {% elseif (autrebien.bien.flag == 3) %}
                                                {% for i in 1..3 %}
                                                    <i class="fa fa-star-half-full"></i>
                                                {% endfor %}
                                            {% elseif (autrebien.bien.flag == 2) %}
                                                {% for i in 1..2 %}
                                                    <i class="fa fa-star-half-full"></i>
                                                {% endfor %}
                                            {% else %}
                                                <i class="fa fa-star-half-full"></i>
                                            {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px">
                                            {{ autrebien.bien.description|raw }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="margin-top: 15px">
                                            <u>Partenaire</u> : <strong>{{ autrebien.bien.partenaire }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="control-label" for="rubrique">Type du bien</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ autrebien.bien.typebien.libelle }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="">
                                            <label class="control-label" for="rubrique">Titre du bien</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ autrebien.bien.titre }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Zone</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ autrebien.bien.zone }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Localisation</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ autrebien.bien.localisation }}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Prix</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ autrebien.bien.prix|number_format(0,'','.') }} " readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Mode</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ autrebien.bien.mode }} " readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="margin-top:10px;">
                                            <label class="control-label" for="rubrique">Superficie</label>
                                            <div class="elect2-container">
                                                <input type="text" class="form-control" value="{{ autrebien.superficie }} m2" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if (photos) %}
                                <div class="row" style="margin-top: 25px; margin-bottom: 35px;">
                                    <div class="col-sm-12 mb-15">
                                        <h4>Autres images</h4>
                                    </div>
                                    {% for photo in photos %}
                                        <div class="col-sm-3">
                                            <img src="{{ asset('uploads/gallerie/biens/'~ photo.imageName) | imagine_filter('bo_galleriebien') }}" alt="{{ photo.bien }}" class="img-fluid">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group row">
                                <div class="col-sm-7 ml-auto text-right">
                                    <a href="{{ path('backend_galleriebien_new', {'bien': autrebien.bien.id}) }}" class="btn btn-primary">Ajouter des photos</a>
                                    <a class="btn btn-outline-dark" href="{{ path('backend_bien_edit', {'slug': autrebien.bien.slug}) }}" >Modifier</a>
                                </div>
                                <div class="col-sm-3 text-left">
                                    {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Voulez-vous supprimer ce bien?")'}}) }}
                                    <input type="submit" value="Supprimer" class="btn btn-danger">
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
