{% extends 'base.html.twig' %}

{% block body %}
    <h1>Galleriebien</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ galleriebien.id }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ galleriebien.imageName }}</td>
            </tr>
            <tr>
                <th>Imagesize</th>
                <td>{{ galleriebien.imageSize }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if galleriebien.updatedAt %}{{ galleriebien.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_galleriebien_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_galleriebien_edit', { 'id': galleriebien.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
